##Asigna un valor entero 2001 a la variable space_odyssey y muestra su valor

In [8]:
space_odyssey=2001
print(space_odyssey)

2001

##Descubre el tipo del literal 'Good nigth & Good luck'

In [9]:
print(type('Good night & Good luck'))

<class 'str'>

##Identifica el tipo del lteral True

In [10]:
print(type(True))

<class 'bool'>

##Asigna la expresión 10*3.0 a la variable result y muestra su tipo

In [11]:
result=10*3.0
print("El resultado de result es", result)
print("y es de tipo",type(result))

El resultado de result es 30.0
y es de tipo <class 'float'>

##Operaando con una variable numerica

In [12]:
x=3
x+1

4

In [13]:
y=x+1
y

4

In [14]:
x=x+1
x

4

In [17]:
x=7
x

7

In [18]:
x+=2
x

9

##Trabajando con Strings

In [19]:
saludo="Hola"
saludo

'Hola'

In [24]:
frase="¡Hola mundo!"
letra="x"
print("La frase es{} y  la letra es {}".format(frase, letra))

La frase es¡Hola mundo! y  la letra es x

In [25]:
a="Esto es un string"
b=a
print(b)

Esto es un string

In [26]:
comillas_simples='Esto es un String'
comillas_dobles="Esto es un String"
print("Con comillas_simples = {}".format(comillas_simples))
print("Con comillas_dobles = {}".format(comillas_dobles))

Con comillas_simples = Esto es un String
Con comillas_dobles = Esto es un String

##Saltos de lineas
El caracter \n es un salto de línea

In [27]:
saltos = "Hola\na\ntodos"
print(saltos)

Hola
a
todos

In [29]:
print("¡Hello\nWorld!")

¡Hello
World!

##Tabulador Horizontal es con \t

In [30]:
print("¡Hello\tWorld!")

¡Hello	World!

In [31]:
print("Himanchu\n\tDAVV\n\t\tIndore")

Himanchu
	DAVV
		Indore

In [32]:
print("*\n**\n***")

*
**
***

In [34]:
print("    *\n*\t*\n    *")

    *
*	*
    *

##Constantes
En Python la declaración de constantes consiste en poner el texto de declaracion en mayuscula
Ponemos a continuación algunos ejemplos de declaración de constantes

In [ ]:
IVA = 0.18
NUMERO_PI = 3.1415927
SOUND_SPEED = 343.2
WATER_DENSITY = 997
EARTH_NAME = 'La Tierra'

##String y metodos asociados

El signo de '+'

In [35]:
a = 'Hola'
b = 'Mundo'
print(a+' '+b)

Hola Mundo

Cuando Python usa el signo '+' en cadenas interpreta el numero como cadena de caracter y lo concatena

In [36]:
a = '72'
b = '34'
print(a+b)

7234

En los String el '+' sencillamente concatena

In [37]:
nombre = 'Carlos'
apellido = 'Santana'
print('Mi nombre es {} {}'.format(nombre, apellido))

Mi nombre es Carlos Santana

In [38]:
print('Mi nombre es'+' '+nombre+' '+apellido)

Mi nombre es Carlos Santana

Funcion count(). Permite contar la cantidad de ocurrencias de un caracter dentro de un texto

In [39]:
print(apellido.count('a'))

3

La función len() permite contar la cantidad de caracteres de un texto

In [40]:
print(len(apellido))

7

La función upper() convierte a mayuscula un texto

In [41]:
print(apellido.upper())

SANTANA

La clausa import permite importar liberias de trabajo para Python

In [43]:
import math as mt
# Vamos a determinar el área de un círculo
diametro = 25
area = diametro/2**2*mt.pi
print("EL área del circulo con diametro = {} es de {:.2f}".format(diametro, area))

EL área del circulo con diametro = 25 es de 19.63