# Limpieza y preparación de datos

# Inicio Clase 72

## 2.1 Tratamiento de los datos que faltan

### En muchas aplicaciones de análisis de datos es habitual que falten datos. Uno de los objetivos de pandas es hacer que trabajar con datos perdidos sea lo menos doloroso posible. Por ejemplo, todas las estadísticas descriptivas de los objetos de pandas excluyen por defecto los datos que faltan.

### La forma en que se representan los datos que faltan en los objetos de pandas es algo imperfecta, pero es suficiente para la mayoría de los usos en el mundo real. Para datos con dtype float64, pandas utiliza el valor de coma flotante NaN (`Not a Number`) para representar los datos que faltan.

Lo llamamos valor centinela (sentinel value): cuando está presente, indica un valor ausente (o nulo):

In [16]:
import pandas as pd
import numpy as np

float_data = pd.Series([1.8, -3.5, np.nan, 0])

Mi_float_data = pd.Series(['a', -3.5, 1,np.nan])

In [17]:
print(float_data)
print()
print(Mi_float_data)

0    1.8
1   -3.5
2    NaN
3    0.0
dtype: float64

0      a
1   -3.5
2      1
3    NaN
dtype: object

El método `isna` nos da una Serie Booleana con `True` donde los valores son 'nulos':

In [3]:
float_data.isna()

0    False
1    False
2     True
3    False
dtype: bool

En pandas, hemos adoptado una convención utilizada en el lenguaje de programación R refiriéndonos a los datos perdidos como `NA`, que significa no disponible (`Not Available`).

El valor `None` (ausencia de un valor o un valor nulo) incorporado en Python también se trata como `NA`:

In [4]:
string_data = pd.Series(['abcd', np.nan, None, 'dfeg'])

string_data

0    abcd
1     NaN
2    None
3    dfeg
dtype: object

In [5]:
string_data.isna()

0    False
1     True
2     True
3    False
dtype: bool

El método `isna` nos da una Serie Booleana con `True` donde los valores son 'nulos':

In [22]:
float_data = pd.Series([1, 2, None], dtype='float64')

mi_float_data=pd.Series([3, 4, 7, 3.4, 7, 0, None, 0.3, 4, 1, None])

print(mi_float_data)
print()
float_data

0     3.0
1     4.0
2     7.0
3     3.4
4     7.0
5     0.0
6     NaN
7     0.3
8     4.0
9     1.0
10    NaN
dtype: float64

0    1.0
1    2.0
2    NaN
dtype: float64

In [24]:
print(mi_float_data.isna())
print()
float_data.isna()

0     False
1     False
2     False
3     False
4     False
5     False
6      True
7     False
8     False
9     False
10     True
dtype: bool

0    False
1    False
2     True
dtype: bool

**Otros metodos**


`dropna()`: es un método utilizado para eliminar filas o columnas que contienen valores nulos (NaN).  

`fillna`: Rellena los datos que faltan con algún valor o utilizando un método de interpolación como `ffill` o `bfill`.

`ìsna()`: Devuelve valores booleanos que indican qué valores faltan `NA`. 

`notna`: Negación de `isna`, devuelve `True` para valores no `NA` y False para valores `NA`.

### Filtrar los datos que faltan

Hay algunas formas de filtrar los datos que faltan. Aunque siempre se tiene la opción de hacerlo a mano usando `pandas.isna()` y la indexación booleana, `dropna()` puede ser útil. En una Serie, devuelve la Serie con sólo los datos no nulos y los valores de índice:

In [37]:
data = pd.Series([1, np.nan, 3.5, np.nan, 7])
Mi_data = pd.Series([1, np.nan, 3.5, None, np.nan, 7])
print(data.dropna())
print()
Mi_data.notna()

0    1.0
2    3.5
4    7.0
dtype: float64

0     True
1    False
2     True
3    False
4    False
5     True
dtype: bool

Esto es lo mismo que hacer:

In [35]:
data.notna()

0     True
1    False
2     True
3    False
4     True
dtype: bool

Con los objetos DataFrame, hay diferentes formas de eliminar los datos que faltan. Es posible que desee eliminar las filas o columnas que son todas NA, o sólo las filas o columnas que contienen cualquier NA en absoluto. `dropna()` por defecto elimina cualquier fila que contenga un valor perdido:

In [38]:
data = pd.DataFrame([[1., 6.5, 3.], [1., np.nan, np.nan],
             [np.nan, np.nan, np.nan],
             [np.nan, 6.5, 3.]])

mi_data = pd.DataFrame([[1., 6.5, 3., 0], [8, 1, 0, 2],
             [np.nan, np.nan, 0, 3],
             [np.nan, None, np.nan, None]])

print(data)
print()
mi_data

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

     0    1    2    3
0  1.0  6.5  3.0  0.0
1  8.0  1.0  0.0  2.0
2  NaN  NaN  0.0  3.0
3  NaN  NaN  NaN  NaN

In [40]:
print(data.dropna())
print()
mi_data.dropna()

     0    1    2
0  1.0  6.5  3.0

     0    1    2    3
0  1.0  6.5  3.0  0.0
1  8.0  1.0  0.0  2.0

Si se pasa `how="all"`, sólo se eliminarán las filas que sean todas NA:

In [42]:
print(data.dropna(how="all"))
print()
print(mi_data.dropna(how="all"))
print()
mi_data

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

     0    1    2    3
0  1.0  6.5  3.0  0.0
1  8.0  1.0  0.0  2.0
2  NaN  NaN  0.0  3.0

     0    1    2    3
0  1.0  6.5  3.0  0.0
1  8.0  1.0  0.0  2.0
2  NaN  NaN  0.0  3.0
3  NaN  NaN  NaN  NaN

Tenga en cuenta que estas funciones devuelven nuevos objetos por defecto y no modifican el contenido del objeto original.

Para soltar (drop) columnas del mismo modo, pase `axis="columns"`:

In [45]:
data[4] = np.nan
print(data)
print()
print(mi_data)
print()
mi_data[4]=np.nan
mi_data

     0    1    2   4
0  1.0  6.5  3.0 NaN
1  1.0  NaN  NaN NaN
2  NaN  NaN  NaN NaN
3  NaN  6.5  3.0 NaN

     0    1    2    3   4
0  1.0  6.5  3.0  0.0 NaN
1  8.0  1.0  0.0  2.0 NaN
2  NaN  NaN  0.0  3.0 NaN
3  NaN  NaN  NaN  NaN NaN

     0    1    2    3   4
0  1.0  6.5  3.0  0.0 NaN
1  8.0  1.0  0.0  2.0 NaN
2  NaN  NaN  0.0  3.0 NaN
3  NaN  NaN  NaN  NaN NaN

In [52]:
mi_data1 = pd.DataFrame([[1., 6.5, 3., 0], [8, 1, 0, 2],
[2, np.nan, 0, 3],
[3, None, np.nan, None]])
print(mi_data1)
print()
print(mi_data1.dropna(axis="columns"))
print()
data.dropna(axis="columns", how="all")

     0    1    2    3
0  1.0  6.5  3.0  0.0
1  8.0  1.0  0.0  2.0
2  2.0  NaN  0.0  3.0
3  3.0  NaN  NaN  NaN

     0
0  1.0
1  8.0
2  2.0
3  3.0

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

Supongamos que desea conservar sólo las filas que contengan como máximo un determinado número de observaciones omitidas.  
Puede indicarlo con el argumento `thresh`, el cual especifica el número mínimo de valores no nulos que deben estar presentes en una fila o columna para que no sea eliminada.  
Si una fila o columna no cumple con este umbral mínimo de valores no nulos, será eliminada del DataFrame.

In [83]:
 df = pd.DataFrame(np.random.standard_normal((7, 3)))
 
 df_1 = pd.DataFrame(np.random.standard_normal((8, 4)))
 
 df_2 = pd.DataFrame(np.random.standard_normal((9, 5)))

In [84]:
print(df)
print()
print(df_1)
print()
df_2

          0         1         2
0 -0.689859  1.502193 -1.133089
1 -0.190453  0.380016 -0.572662
2  1.405653  1.696467  1.478727
3 -1.031556  1.029356  0.301410
4 -0.352114 -0.148971  0.815259
5  0.434023 -2.295916 -0.426819
6  2.216655 -0.627189 -0.816908

          0         1         2         3
0  1.152069  0.489660 -1.447451  0.924103
1 -0.199648  0.023229 -1.632171  0.764754
2  0.457322 -1.031360  1.143603 -1.552225
3  0.351991  0.449048  0.155745 -0.128090
4 -0.515430 -0.990425 -0.512231 -0.792147
5  1.370671 -0.278436 -0.394670  0.969267
6  0.208861 -0.118976 -0.159338  0.450502
7 -0.400702 -0.126432  0.307809  1.951067

          0         1         2         3         4
0 -0.533473 -0.230496  0.905595  0.263430  1.609479
1  0.178550 -1.612611  0.055245  1.199089 -0.456682
2 -0.837546  1.026222 -1.079689 -2.494234 -0.188610
3  0.677042  1.727954 -0.870498  0.557573  0.661852
4  1.462078 -0.579672  0.522501 -0.748456  1.855297
5 -1.099431  0.797034 -0.663657 -0.586088 -0.597626
6 -0.557485  0.091103  0.052466  1.546092  0.544085
7  0.478180  1.328201 -0.891580  0.377530  0.063472
8  0.466078 -0.705445  0.003602 -1.292552 -1.022998

          0         1         2         3         4
3  0.677042  1.727954 -0.870498  0.557573  0.661852
4  1.462078 -0.579672  0.522501 -0.748456  1.855297
5 -1.099431  0.797034 -0.663657 -0.586088 -0.597626
6 -0.557485  0.091103  0.052466  1.546092  0.544085
7  0.478180  1.328201 -0.891580  0.377530  0.063472

In [60]:
df.iloc[:4, 1] = np.nan
df.iloc[:2, 2] = np.nan

In [18]:
df

          0         1         2
0 -0.350195       NaN       NaN
1 -1.603950       NaN       NaN
2  0.064977       NaN -0.807149
3  0.205999       NaN  0.333218
4  0.193293 -1.670206 -0.590758
5  0.496036 -0.706883  0.392845
6  1.310755  1.240568 -1.256120

In [19]:
df.dropna()

          0         1         2
4  0.193293 -1.670206 -0.590758
5  0.496036 -0.706883  0.392845
6  1.310755  1.240568 -1.256120

In [20]:
df.dropna(thresh=2)

          0         1         2
2  0.064977       NaN -0.807149
3  0.205999       NaN  0.333218
4  0.193293 -1.670206 -0.590758
5  0.496036 -0.706883  0.392845
6  1.310755  1.240568 -1.256120

In [67]:
print(df_1)
print()
df_1.iloc[2:4,3]=np.nan
df_1.iloc[5:7,0]=np.nan

          0         1         2         3
0 -0.562239 -0.538679  0.092159  0.866690
1  0.435171  0.086605 -0.539535  1.638161
2 -0.269751 -0.016318  1.975415       NaN
3  0.253939 -0.327988  0.736766       NaN
4  1.176226  2.087048 -0.417223 -0.182218
5       NaN  0.807250 -1.439846  1.004179
6       NaN -1.337561 -1.566016 -1.760304
7  1.068203  0.855511 -0.887699 -2.786103

### Rellenar los datos que faltan

En lugar de filtrar los datos que faltan (y potencialmente descartar otros datos junto con ellos), es posible que desee rellenar los "huecos" de varias maneras. Para la mayoría de los propósitos, el método `fillna()` es la función a utilizar. Llamar a `fillna()` con una constante sustituye los valores que faltan por ese valor:

In [21]:
df

          0         1         2
0 -0.350195       NaN       NaN
1 -1.603950       NaN       NaN
2  0.064977       NaN -0.807149
3  0.205999       NaN  0.333218
4  0.193293 -1.670206 -0.590758
5  0.496036 -0.706883  0.392845
6  1.310755  1.240568 -1.256120

In [22]:
df.fillna(0)

          0         1         2
0 -0.350195  0.000000  0.000000
1 -1.603950  0.000000  0.000000
2  0.064977  0.000000 -0.807149
3  0.205999  0.000000  0.333218
4  0.193293 -1.670206 -0.590758
5  0.496036 -0.706883  0.392845
6  1.310755  1.240568 -1.256120

In [69]:
df_1.fillna(-1)

          0         1         2         3
0 -0.562239 -0.538679  0.092159  0.866690
1  0.435171  0.086605 -0.539535  1.638161
2 -0.269751 -0.016318  1.975415 -1.000000
3  0.253939 -0.327988  0.736766 -1.000000
4  1.176226  2.087048 -0.417223 -0.182218
5 -1.000000  0.807250 -1.439846  1.004179
6 -1.000000 -1.337561 -1.566016 -1.760304
7  1.068203  0.855511 -0.887699 -2.786103

Llamando a `fillna()` con un diccionario, puede utilizar un valor de relleno diferente para cada columna:

In [71]:
df.fillna({1: 0.5, 2: 0})

          0         1         2
0  0.175351  0.500000  0.000000
1 -0.067846  0.500000  0.000000
2  0.255104  0.500000 -0.672915
3  1.416088  0.500000 -0.650013
4  0.473113 -1.453965  0.266200
5 -0.017000 -0.083933  0.502919
6  0.347622  1.523456 -0.799390

In [79]:
df_1.fillna({0: 100, 2: 0, 3: 100})

            0         1         2           3
0   -0.562239 -0.538679  0.092159    0.866690
1    0.435171  0.086605 -0.539535    1.638161
2   -0.269751 -0.016318  1.975415  100.000000
3    0.253939 -0.327988  0.736766  100.000000
4    1.176226  2.087048 -0.417223   -0.182218
5  100.000000  0.807250 -1.439846    1.004179
6  100.000000 -1.337561 -1.566016   -1.760304
7    1.068203  0.855511 -0.887699   -2.786103

Los mismos métodos de interpolación disponibles para la reindexación pueden utilizarse con `fillna()`:

In [24]:
df = pd.DataFrame(np.random.standard_normal((6, 3)))

In [25]:
df.iloc[2:, 1] = np.nan
df.iloc[4:, 2] = np.nan
df

          0         1         2
0 -1.722007 -1.895035 -0.090413
1 -1.634339 -1.782433 -0.950678
2 -1.004879       NaN  0.732767
3  1.611951       NaN -0.385819
4  2.559992       NaN       NaN
5  0.803963       NaN       NaN

In [81]:
df_1

          0         1         2         3
0 -0.562239 -0.538679  0.092159  0.866690
1  0.435171  0.086605 -0.539535  1.638161
2 -0.269751 -0.016318  1.975415       NaN
3  0.253939 -0.327988  0.736766       NaN
4  1.176226  2.087048 -0.417223 -0.182218
5       NaN  0.807250 -1.439846  1.004179
6       NaN -1.337561 -1.566016 -1.760304
7  1.068203  0.855511 -0.887699 -2.786103

In [86]:
df_1.fillna(method="ffill")

C:\Users\CursosTardes\AppData\Local\Temp\ipykernel_15156\2707318993.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_1.fillna(method="ffill")

          0         1         2         3
0  1.152069  0.489660 -1.447451  0.924103
1 -0.199648  0.023229 -1.632171  0.764754
2  0.457322 -1.031360  1.143603 -1.552225
3  0.351991  0.449048  0.155745 -0.128090
4 -0.515430 -0.990425 -0.512231 -0.792147
5  1.370671 -0.278436 -0.394670  0.969267
6  0.208861 -0.118976 -0.159338  0.450502
7 -0.400702 -0.126432  0.307809  1.951067

In [82]:
df_1.fillna(method='ffill')

C:\Users\CursosTardes\AppData\Local\Temp\ipykernel_15156\2630181197.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_1.fillna(method='ffill')

          0         1         2         3
0 -0.562239 -0.538679  0.092159  0.866690
1  0.435171  0.086605 -0.539535  1.638161
2 -0.269751 -0.016318  1.975415  1.638161
3  0.253939 -0.327988  0.736766  1.638161
4  1.176226  2.087048 -0.417223 -0.182218
5  1.176226  0.807250 -1.439846  1.004179
6  1.176226 -1.337561 -1.566016 -1.760304
7  1.068203  0.855511 -0.887699 -2.786103

In [27]:
df.fillna(method="ffill", limit=2)

C:\Users\juanj\AppData\Local\Temp\ipykernel_24584\1627181726.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method="ffill", limit=2)

          0         1         2
0 -1.722007 -1.895035 -0.090413
1 -1.634339 -1.782433 -0.950678
2 -1.004879 -1.782433  0.732767
3  1.611951 -1.782433 -0.385819
4  2.559992       NaN -0.385819
5  0.803963       NaN -0.385819

In [91]:
df_2
df_2.iloc[2:8, 0]=np.nan
df_2

          0         1         2         3         4
0 -0.533473 -0.230496  0.905595  0.263430  1.609479
1  0.178550 -1.612611  0.055245  1.199089 -0.456682
2       NaN  1.026222 -1.079689 -2.494234 -0.188610
3       NaN  1.727954 -0.870498  0.557573  0.661852
4       NaN -0.579672  0.522501 -0.748456  1.855297
5       NaN  0.797034 -0.663657 -0.586088 -0.597626
6       NaN  0.091103  0.052466  1.546092  0.544085
7       NaN  1.328201 -0.891580  0.377530  0.063472
8  0.466078 -0.705445  0.003602 -1.292552 -1.022998

In [92]:
df_2.fillna(method="ffill", limit=2)

C:\Users\CursosTardes\AppData\Local\Temp\ipykernel_15156\1922469364.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_2.fillna(method="ffill", limit=2)

          0         1         2         3         4
0 -0.533473 -0.230496  0.905595  0.263430  1.609479
1  0.178550 -1.612611  0.055245  1.199089 -0.456682
2  0.178550  1.026222 -1.079689 -2.494234 -0.188610
3  0.178550  1.727954 -0.870498  0.557573  0.661852
4       NaN -0.579672  0.522501 -0.748456  1.855297
5       NaN  0.797034 -0.663657 -0.586088 -0.597626
6       NaN  0.091103  0.052466  1.546092  0.544085
7       NaN  1.328201 -0.891580  0.377530  0.063472
8  0.466078 -0.705445  0.003602 -1.292552 -1.022998

Con `fillna()` puede hacer muchas otras cosas, como la imputación simple de datos utilizando la mediana o la media estadística:

In [98]:
data = pd.Series([1., np.nan, 3.5, np.nan, 7])
data_1 = pd.Series([1., np.nan, 3.5, np.nan, 7, 12, 9, 2.3, np.nan])
print(data)
print()
data_1

0    1.0
1    NaN
2    3.5
3    NaN
4    7.0
dtype: float64

0     1.0
1     NaN
2     3.5
3     NaN
4     7.0
5    12.0
6     9.0
7     2.3
8     NaN
dtype: float64

In [29]:
data.fillna(data.mean())

0    1.000000
1    3.833333
2    3.500000
3    3.833333
4    7.000000
dtype: float64

In [97]:
data_1.fillna(data_1.mean())
# La media de la serie es 5.8

0     1.0
1     5.8
2     3.5
3     5.8
4     7.0
5    12.0
6     9.0
7     2.3
8     5.8
dtype: float64

**Funciones de argumento para `fillna`**

`value`: Valor escalar u objeto tipo diccionario que se utilizará para rellenar los valores que faltan.

`method`: Método de interpolación: uno de "bfill" (relleno hacia atrás) o "ffill" (relleno hacia delante); por defecto es None

`axis`: Eje de relleno ("index" o "columns"); por defecto axis="index".

`limit`: Para el llenado hacia delante y hacia atrás, número máximo de periodos consecutivos a llenar

## Transformación de datos

Hasta ahora nos hemos ocupado de la gestión de los datos que faltan. El filtrado, la limpieza y otras transformaciones son otra clase de operaciones importantes.

### Remover duplicados

Pueden encontrarse filas duplicadas en un DataFrame por cualquier número de razones. He aquí un ejemplo:

In [11]:
import pandas as pd

data = pd.DataFrame({"k1": ["one", "two"] * 3 + ["two"],
                     "k2":[1, 1, 2, 3, 3, 4, 4]})

print(data)
print()

data_2= pd.DataFrame({"a1":[7, 2, 2, 3, 2, 2, 6, 7, 7, 7, 2], 
                    "a2":[7, 2, 2, 4, 2, 2, 7, 8, 9, 7, 2], 
                    "a3":[7, 3, 2, 21, 2, 2, 12, 13, 14, 7, 2], 
                    "a4":[7, 16, 2, 18, 2, 2, 18, 12, 10, 7, 2]})

data_2

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
6  two   4

    a1  a2  a3  a4
0    7   7   7   7
1    2   2   3  16
2    2   2   2   2
3    3   4  21  18
4    2   2   2   2
5    2   2   2   2
6    6   7  12  18
7    7   8  13  12
8    7   9  14  10
9    7   7   7   7
10   2   2   2   2

In [31]:
data

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
6  two   4

El método DataFrame `duplicated` devuelve una serie booleana que indica si cada fila es un duplicado (sus valores de columna son exactamente iguales a los de una fila anterior) o no:

In [32]:
data.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

In [16]:
data_2.duplicated()

0     False
1     False
2     False
3     False
4      True
5      True
6     False
7     False
8     False
9      True
10     True
dtype: bool

En relación con esto, `drop_duplicates` devuelve un DataFrame con filas en las que se ha filtrado False el array duplicado:

In [33]:
data.drop_duplicates()

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4

In [14]:
print(data_2)
print()
data_2.drop_duplicates()

    a1  a2  a3  a4
0    7   7   7   7
1    2   2   3  16
2    2   2   2   2
3    3   4  21  18
4    2   2   2   2
5    2   2   2   2
6    6   7  12  18
7    7   8  13  12
8    7   9  14  10
9    7   7   7   7
10   2   2   2   2

   a1  a2  a3  a4
0   7   7   7   7
1   2   2   3  16
2   2   2   2   2
3   3   4  21  18
6   6   7  12  18
7   7   8  13  12
8   7   9  14  10

Ambos métodos consideran por defecto todas las columnas; alternativamente, puede especificar cualquier subconjunto de ellas para detectar duplicados. Supongamos que tenemos una columna adicional de valores y queremos filtrar los duplicados basándonos sólo en la columna "k1":

In [34]:
data

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
6  two   4

In [17]:
# Añadimos una tercera columna
data["v1"] = range(7)
print(data)

print()

# Añadimos a data_2 una quinta columna
data_2["a5"] = range(11)
data_2

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
5  two   4   5
6  two   4   6

    a1  a2  a3  a4  a5
0    7   7   7   7   0
1    2   2   3  16   1
2    2   2   2   2   2
3    3   4  21  18   3
4    2   2   2   2   4
5    2   2   2   2   5
6    6   7  12  18   6
7    7   8  13  12   7
8    7   9  14  10   8
9    7   7   7   7   9
10   2   2   2   2  10

In [36]:
data.drop_duplicates(subset=["k1"])

    k1  k2  v1
0  one   1   0
1  two   1   1

In [23]:
print(data_2)
print()
print(data_2.drop_duplicates(subset=["a4"]))
print()
data_2.drop_duplicates(subset=["a4"], keep="last")

    a1  a2  a3  a4  a5
0    7   7   7   7   0
1    2   2   3  16   1
2    2   2   2   2   2
3    3   4  21  18   3
4    2   2   2   2   4
5    2   2   2   2   5
6    6   7  12  18   6
7    7   8  13  12   7
8    7   9  14  10   8
9    7   7   7   7   9
10   2   2   2   2  10

   a1  a2  a3  a4  a5
0   7   7   7   7   0
1   2   2   3  16   1
2   2   2   2   2   2
3   3   4  21  18   3
7   7   8  13  12   7
8   7   9  14  10   8

    a1  a2  a3  a4  a5
1    2   2   3  16   1
6    6   7  12  18   6
7    7   8  13  12   7
8    7   9  14  10   8
9    7   7   7   7   9
10   2   2   2   2  10

`duplicated` y `drop_duplicates` mantienen por defecto la primera combinación de valores observada. Si se pasa `keep="last"` se devolverá la última.  
El argumento `keep` puede tomar tres valores:

`"first"`: (por defecto) Mantiene la primera aparición de una fila duplicada y elimina las subsecuentes.  

`"last"`: Mantiene la última aparición de una fila duplicada y elimina las anteriores.  

`"False"`: Elimina todas las filas duplicadas, no conservando ninguna.

In [37]:
data

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
5  two   4   5
6  two   4   6

In [21]:
print(data)
print()
print(data.drop_duplicates(["k1", "k2"]))
print()
data.drop_duplicates(["k1", "k2"], keep="last")

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
5  two   4   5
6  two   4   6

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
5  two   4   5

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
6  two   4   6

### Transformación de datos mediante una `Function` o `Mapping`

Para muchos conjuntos de datos, es posible que desee realizar alguna transformación basada en los valores de un array, Serie o columna de un DataFrame. Considere los siguientes datos hipotéticos recogidos sobre varios tipos de jamón:

In [39]:
data = pd.DataFrame({"food": ["bacon", "pulled pork",
                              "bacon","pastrami", "corned beef",
                              "bacon", "pastrami", "honey ham",
                              "nova lox"],
                     "ounces": [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     pastrami     6.0
4  corned beef     7.5
5        bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

Supongamos que queremos añadir una columna que indique el tipo de animal del que procede cada alimento. Escribamos una correspondencia entre cada tipo de carne y el tipo de animal:

In [40]:
meat_to_animal = {
  "bacon": "pig",
  "pulled pork": "pig",
  "pastrami": "cow",
  "corned beef": "cow",
  "honey ham": "pig",
  "nova lox": "salmon"
}

El método `map` de una serie acepta una función u objeto de tipo diccionario que contenga un mapeo para realizar la transformación de los valores:

In [41]:
data["animal"] = data["food"].map(meat_to_animal)
data

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     pastrami     6.0     cow
4  corned beef     7.5     cow
5        bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

También podríamos haber pasado una función que haga todo el trabajo:

In [42]:
def get_animal(x):
    return meat_to_animal[x]

data["animal"] = data["food"].map(get_animal)
data

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     pastrami     6.0     cow
4  corned beef     7.5     cow
5        bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

### Sustitución de valores

Rellenar los datos que faltan con el método `fillna` es un caso especial de sustitución de valores más general. Como ya se ha visto, `map` puede utilizarse para modificar un subconjunto de valores de un objeto, tambien `replace` proporciona una forma más sencilla y flexible de hacerlo. Consideremos esta serie:

In [43]:
data = pd.Series([1., -999., 2., -999., -1000., 3.])
data

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64

Los valores `-999` podrían ser valores centinela de datos perdidos. Para reemplazarlos por valores `NA` que pandas entienda, podemos usar `replace`, produciendo una nueva Serie:

In [25]:
import numpy as np
import pandas as pd

print(data.replace(-999, np.nan))

print()
data_2.replace(18, 180)

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
5  two   4   5
6  two   4   6

    a1  a2  a3   a4  a5
0    7   7   7    7   0
1    2   2   3   16   1
2    2   2   2    2   2
3    3   4  21  180   3
4    2   2   2    2   4
5    2   2   2    2   5
6    6   7  12  180   6
7    7   8  13   12   7
8    7   9  14   10   8
9    7   7   7    7   9
10   2   2   2    2  10

Si desea sustituir varios valores a la vez, debe pasar una lista y, a continuación, el valor sustituido:

In [26]:
print(data.replace([-999, -1000], np.nan))
print()
data_2.replace([18, 16], [180, 160])

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
5  two   4   5
6  two   4   6

    a1  a2  a3   a4  a5
0    7   7   7    7   0
1    2   2   3  160   1
2    2   2   2    2   2
3    3   4  21  180   3
4    2   2   2    2   4
5    2   2   2    2   5
6    6   7  12  180   6
7    7   8  13   12   7
8    7   9  14   10   8
9    7   7   7    7   9
10   2   2   2    2  10

Para utilizar un sustituto diferente para cada valor, pase una lista de sustitutos:

In [27]:
data.replace([-999, -1000], [np.nan, 0])

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
5  two   4   5
6  two   4   6

El argumento pasado también puede ser un diccionario:

In [31]:
print(data_2)
print()
print(data.replace({-999: np.nan, -1000: 0}))
print()
data_2.replace({2: np.nan, 7: 0})

    a1  a2  a3  a4  a5
0    7   7   7   7   0
1    2   2   3  16   1
2    2   2   2   2   2
3    3   4  21  18   3
4    2   2   2   2   4
5    2   2   2   2   5
6    6   7  12  18   6
7    7   8  13  12   7
8    7   9  14  10   8
9    7   7   7   7   9
10   2   2   2   2  10

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
5  two   4   5
6  two   4   6

     a1   a2    a3    a4    a5
0   0.0  0.0   0.0   0.0   0.0
1   NaN  NaN   3.0  16.0   1.0
2   NaN  NaN   NaN   NaN   NaN
3   3.0  4.0  21.0  18.0   3.0
4   NaN  NaN   NaN   NaN   4.0
5   NaN  NaN   NaN   NaN   5.0
6   6.0  0.0  12.0  18.0   6.0
7   0.0  8.0  13.0  12.0   0.0
8   0.0  9.0  14.0  10.0   8.0
9   0.0  0.0   0.0   0.0   9.0
10  NaN  NaN   NaN   NaN  10.0

El método `data.replace()` es distinto de `data.str.replace`, que realiza la sustitución de cadenas por elementos. Veremos estos métodos de cadena en Series más adelante.

### Renombrar índices de ejes

Al igual que los valores de una Serie, las etiquetas de los ejes pueden transformarse de forma similar mediante una función o un mapeo (`mapping`) de algún tipo para producir nuevos objetos etiquetados de forma diferente. También puede modificar los ejes in situ sin crear una nueva estructura de datos. He aquí un ejemplo sencillo:

In [40]:
import numpy as np
import pandas as pd

data = pd.DataFrame(np.arange(12).reshape((3, 4)),
                    index=["Ohio", "Colorado", "New York"],
                    columns=["one", "two", "three", "four"])

data_3 = pd.DataFrame(np.arange(6).reshape((2, 3)),
                    index=["Camaguey", "Ciego de Avila"],
                    columns=["one", "two", "three"])
                    
print(data)
print()
data_3

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

                one  two  three
Camaguey          0    1      2
Ciego de Avila    3    4      5

Al igual que una Serie, los índices de eje tienen un método `map`:

In [43]:
import numpy as np
import pandas as pd

def transform(x):
    return x[:4].upper()

def transforma(x):
    return x[:5].upper()



print(data.index.map(transform))

print()

data_3.index.map(transforma)
#Index(['OHIO', 'COLO', 'NEW '], dtype='object')

Index(['OHIO', 'COLO', 'NEW '], dtype='object')

Index(['CAMAG', 'CIEGO'], dtype='object')

In [50]:
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

You can assign to the `index` attribute, modifying the DataFrame in place:

In [46]:
data.index = data.index.map(transform)
print(data)

print()

data_3.index = data_3.index.map(transforma)

data_3

      one  two  three  four
OHIO    0    1      2     3
COLO    4    5      6     7
NEW     8    9     10    11

       one  two  three
CAMAG    0    1      2
CIEGO    3    4      5

Si desea crear una versión transformada de un conjunto de datos sin modificar el original, un método útil es `rename`:

In [47]:
print(data.rename(index=str.title, columns=str.upper))

print()

data_3.rename(index=str.title, columns=str.upper)

      ONE  TWO  THREE  FOUR
Ohio    0    1      2     3
Colo    4    5      6     7
New     8    9     10    11

       ONE  TWO  THREE
Camag    0    1      2
Ciego    3    4      5

En particular, renombrar puede utilizarse junto con un objeto tipo diccionario, proporcionando nuevos valores para un subconjunto de las etiquetas de los ejes:

In [53]:
data.rename(index={"OHIO": "Madrid"},
            columns={"three": "tres"})

        one  two  tres  four
Madrid    0    1     2     3
COLO      4    5     6     7
NEW       8    9    10    11

### Discretización y `binning`

La discretización y el binning son técnicas utilizadas en la preprocesamiento de datos para convertir datos continuos en discretos. Estas técnicas son útiles para reducir la variabilidad, agrupar datos similares y mejorar el rendimiento de algunos algoritmos de aprendizaje automático

### Discretización.  

Es el proceso de convertir datos continuos en datos categóricos dividiendo el rango de valores continuos en intervalos (bins).

### Binning (Agrupación por intervalos)
El `binning` es una técnica de discretización que agrupa los datos en intervalos, o `"bins"`.  
Hay varios métodos para hacer `binning` en pandas, como el binning por frecuencia, el binning por longitud de intervalo y el binning basado en la cuantilación (por ejemplo Cuartil).

Los datos continuos suelen discretizarse o separarse en "intervalos" (bins) para su análisis. Supongamos que se dispone de datos sobre un grupo de personas en un estudio y desea agruparlas en grupos de edad discretos:

In [5]:
import numpy as np
import pandas as pd

ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]

ages1 = [20, 22, 25, 27, 50]

Vamos a dividirlos en franjas (bins) de 18 a 25, de 26 a 35, de 36 a 60 y, por último, de 61 años en adelante. Para ello, hay que utilizar `pandas.cut`:

In [7]:
import numpy as np
import pandas as pd

bins = [18, 25, 35, 60, 100]

bins1 = [10, 40, 70]

In [8]:
age_categories = pd.cut(ages, bins)

age_categories1 = pd.cut(ages1, bins1)

In [9]:
import numpy as np
import pandas as pd

print(age_categories)

print()

print(age_categories1)

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64, right]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

[(10, 40], (10, 40], (10, 40], (10, 40], (40, 70]]
Categories (2, interval[int64, right]): [(10, 40] < (40, 70]]

El objeto que pandas devuelve es un objeto `Categorical` especial. La salida que se ve describe los bins calculados por `pandas.cut`. Cada bin se identifica por un tipo de valor de intervalo especial (único en pandas) que contiene el límite inferior y superior de cada bin:

In [10]:
print(age_categories.codes)
print()


age_categories1.codes

[0 0 0 1 0 0 2 1 3 2 2 1]

array([0, 0, 0, 0, 1], dtype=int8)

In [11]:
age_categories.categories

IntervalIndex([(18, 25], (25, 35], (35, 60], (60, 100]], dtype='interval[int64, right]')

In [12]:
print(age_categories.categories[0])
print()
print(age_categories1.categories[1])

(18, 25]

(40, 70]

In [13]:
import numpy as np
import pandas as pd

pd.value_counts(age_categories)
print()
pd.value_counts(age_categories1)

C:\Users\CursosTardes\AppData\Local\Temp\ipykernel_10656\2752612771.py:4: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(age_categories)
C:\Users\CursosTardes\AppData\Local\Temp\ipykernel_10656\2752612771.py:6: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(age_categories1)

(10, 40]    4
(40, 70]    1
Name: count, dtype: int64

Tenga en cuenta que `pd.value_counts(categories)` son los recuentos bin del resultado de `pandas.cut`.

En la representación de cadena de un intervalo, un paréntesis significa que el lado está abierto (excluyente), mientras que el corchete significa que está cerrado (incluyente). Puede cambiar el lado cerrado pasando `right=False`

In [62]:
pd.cut(ages, bins, right=False)

[[18, 25), [18, 25), [25, 35), [25, 35), [18, 25), ..., [25, 35), [60, 100), [35, 60), [35, 60), [25, 35)]
Length: 12
Categories (4, interval[int64, left]): [[18, 25) < [25, 35) < [35, 60) < [60, 100)]

Puede anular el etiquetado de contenedores por defecto basado en intervalos pasando una lista o array a la opción `labels`:

In [20]:
import numpy as np
import pandas as pd

group_names = ["Youth", "YoungAdult", "MiddleAged", "Senior"]

a= [1, 2, 3, 4, 6, 10, 11, 12, 13, 18, 20]
b= [0, 6, 11, 16, 21]

group_names1 = ["Pancho", "Juan", "Pedro","Jose"]

print(pd.cut(ages, bins, labels=group_names))
print()
print(pd.cut(a,b,labels=group_names1))

['Youth', 'Youth', 'Youth', 'YoungAdult', 'Youth', ..., 'YoungAdult', 'Senior', 'MiddleAged', 'MiddleAged', 'YoungAdult']
Length: 12
Categories (4, object): ['Youth' < 'YoungAdult' < 'MiddleAged' < 'Senior']

['Pancho', 'Pancho', 'Pancho', 'Pancho', 'Pancho', ..., 'Juan', 'Pedro', 'Pedro', 'Jose', 'Jose']
Length: 11
Categories (4, object): ['Pancho' < 'Juan' < 'Pedro' < 'Jose']

Consideremos el caso de unos datos distribuidos uniformemente y cortados en cuartos:

In [21]:
data = np.random.uniform(size=20)
print(data)
print()
data_4 = np.random.uniform(size=40)
print(data_4)

[0.78229492 0.26590622 0.60060428 0.32190894 0.39227668 0.70620353
 0.52830272 0.27587433 0.24833378 0.56654884 0.56926241 0.24874702
 0.6784947  0.54235923 0.22562541 0.33864115 0.83672622 0.72809618
 0.61652857 0.3669341 ]

[0.5377502  0.74320368 0.05003486 0.96072008 0.73554941 0.36886272
 0.69287283 0.47664719 0.11905325 0.58026402 0.85586389 0.02564636
 0.01044199 0.16168726 0.74254503 0.11475227 0.43006435 0.87980177
 0.41614008 0.77290541 0.70641318 0.74341307 0.06571017 0.41275176
 0.15548998 0.0585598  0.88806531 0.76452403 0.22160616 0.20867288
 0.02886261 0.2006483  0.24232632 0.14909658 0.52180801 0.33860993
 0.65033448 0.08575906 0.81082445 0.7330281 ]

In [22]:
print(pd.cut(data, 4, precision=2))
print()
print(pd.cut(data_4, 4, precision=2))

[(0.68, 0.84], (0.23, 0.38], (0.53, 0.68], (0.23, 0.38], (0.38, 0.53], ..., (0.23, 0.38], (0.68, 0.84], (0.68, 0.84], (0.53, 0.68], (0.23, 0.38]]
Length: 20
Categories (4, interval[float64, right]): [(0.23, 0.38] < (0.38, 0.53] < (0.53, 0.68] < (0.68, 0.84]]

[(0.49, 0.72], (0.72, 0.96], (0.0095, 0.25], (0.72, 0.96], (0.72, 0.96], ..., (0.25, 0.49], (0.49, 0.72], (0.0095, 0.25], (0.72, 0.96], (0.72, 0.96]]
Length: 40
Categories (4, interval[float64, right]): [(0.0095, 0.25] < (0.25, 0.49] < (0.49, 0.72] < (0.72, 0.96]]

La opción `precision=2` limita la precisión decimal a dos dígitos distintos de cero.

Una función estrechamente relacionada, `pandas.qcut`, separa los datos basándose en los cuantiles de la muestra. Dependiendo de la distribución de los datos, el uso de `pandas.cut` no siempre resultará en que cada contenedor tenga el mismo número de puntos de datos. Dado que `pandas.qcut` utiliza los cuantiles de la muestra en su lugar, obtendrá intervalos de tamaño más o menos igual:

In [24]:
data = np.random.standard_normal(1000)
print(data)
data_5 = np.random.standard_normal(400)
print(data_5)

[-9.22419675e-01 -7.58845414e-01 -6.11030218e-02 -2.89811435e-02
 -4.76265027e-01 -9.09324771e-01 -2.54208187e-01 -9.69504864e-01
 -8.37639844e-01  9.91373292e-01  1.29153610e+00 -9.04922243e-01
  1.08251538e+00 -6.46260635e-01 -4.90381779e-02 -5.32130464e-01
  5.01062207e-01  5.05703194e-01  8.22892517e-01 -4.78762468e-01
 -1.01469512e+00  3.04294061e+00 -1.63182439e+00  1.52942749e+00
 -2.50578964e-01 -5.66054232e-01 -1.62970552e+00  9.97131509e-01
  9.13446246e-01 -3.78446642e-01 -7.57998523e-01  4.25333029e-01
 -4.54062613e-01  4.90592766e-01  9.91323022e-01  4.99838786e-01
  6.89280534e-01  4.76492510e-01  2.83218969e-01 -4.60837025e-01
  2.47087166e-01  5.95488033e-01 -1.52947827e-01  4.43368832e-01
  7.15189207e-01  7.18528460e-01 -1.07198850e+00 -5.12020854e-01
 -4.32407821e-02  2.21165040e+00 -1.12047793e+00  5.01523234e-01
 -1.83418461e+00  2.19546726e-01  1.34269802e+00  8.26341122e-01
  1.30872247e+00 -5.33425860e-01  3.93068845e-01 -1.29550256e-01
 -2.01437577e+00 -8.09178875e-01 -2.25271999e-01  5.08317884e-01
 -3.54027624e-01  1.38910092e+00  4.78049757e-01  1.30162623e+00
  8.75607942e-01 -2.63122005e+00 -2.39451829e+00 -4.13698728e-01
  3.52811940e-01 -5.18646228e-02  1.68028939e-01  3.17286736e-01
 -4.71902072e-01  2.14967366e-01  3.31452399e-01  9.48250818e-01
 -6.57723739e-01  5.19435898e-01  7.85891851e-01 -9.35843415e-01
  3.50064758e-02 -3.83255651e-01  1.51199013e-01 -3.13403939e-01
  6.27557698e-01  1.78101835e+00 -5.91186252e-01  3.09521089e-02
 -7.01758421e-01  5.71686069e-02 -4.40967484e-01  5.51881993e-01
  1.76694797e+00 -4.12597413e-01 -4.40219170e-01 -4.02980830e-01
 -4.75989290e-01  7.09099792e-01 -1.00643190e-01  1.50392625e+00
 -2.23471414e+00  1.99288832e+00 -4.75169370e-01  2.59241924e+00
  9.90673124e-01  7.59858695e-01  2.08704241e+00 -1.39076824e+00
  5.63074257e-01 -5.12335260e-01  5.63858693e-01  2.83940939e-01
 -1.40541274e+00 -8.25163122e-01  1.23687727e+00  5.15763352e-03
 -3.99462739e-01 -1.13328259e+00 -1.22764669e+00 -1.25595357e-01
 -3.95478211e-01  5.71747812e-01  2.65559874e-02  6.37868096e-01
 -8.99245141e-01 -5.55898513e-01 -2.55479484e-01  9.88320540e-01
  1.19173549e+00 -1.04387391e+00 -1.65862587e+00  2.03610025e-01
  1.88346303e+00 -2.41130102e+00  3.72376508e-01  5.96003385e-01
  5.10467074e-01  5.12245101e-01 -7.11279797e-01 -3.73648749e-01
 -1.25430870e+00  5.80185245e-01  9.55158842e-01 -2.20160958e-01
  7.90572390e-01 -3.30338263e-01 -4.93070492e-01  4.46917599e-01
 -1.52891845e+00  8.77800550e-01  3.24854402e-01  4.03359474e-01
 -2.80389952e-01  5.98356702e-01  1.08427269e+00 -1.77680134e-01
 -9.74517738e-02  8.28880139e-01 -6.54157692e-02 -5.18015494e-01
 -8.64952249e-01 -1.11835648e+00 -8.37035748e-01 -3.28966554e-01
  5.42505716e-01  3.37154514e-01 -1.63701364e-02  1.58279309e+00
  2.17306822e+00 -7.81793534e-01 -7.59580844e-01 -1.65100162e+00
  4.13460838e-01 -1.10444952e+00 -1.91650986e-03  1.03429388e+00
  4.80933327e-02 -3.39512176e-01 -1.61094069e+00 -1.89691622e-01
 -2.33569817e+00 -8.45003057e-01 -3.74402933e-01  4.93901942e-01
  9.68698911e-01 -7.90562543e-02  6.17804253e-01  7.12855617e-01
  1.82066962e+00 -3.71301894e-01  1.15921432e+00  8.26811001e-02
  5.82260948e-01 -2.13820001e-03  8.18428598e-01  1.72062808e+00
  1.09623098e+00 -1.06754069e-01 -7.30709974e-01  1.73291564e+00
 -2.85677848e-01  1.55510850e+00 -1.23141994e+00 -3.65354632e-01
 -4.01003906e-01 -1.25228533e-01  9.74729178e-01 -5.93990073e-01
  1.03108977e+00  2.77532011e+00  4.53342809e-02  6.80354044e-01
  7.63095324e-01 -2.09274691e+00  3.47349587e-02 -3.19141397e-01
 -5.83833548e-01 -7.56894757e-01  1.07252908e+00  9.62472118e-01
  2.70756531e-02  1.01128756e-02 -8.91100442e-01  2.16540038e-01
 -6.30550578e-01  1.67680114e-01 -5.32752771e-01  6.04052198e-01
  4.79040460e-01 -1.37446327e+00 -4.05222255e-01 -8.27404877e-01
 -4.66866535e-01 -7.01849896e-01 -1.34309212e+00 -6.26108070e-03
 -7.45571404e-01  1.56477348e-01 -1.55436140e+00 -2.09713204e-01
  1.19010574e+00 -1.55106164e+00 -1.24500051e+00 -2.94776668e-01
  2.09039016e+00  9.06471515e-01 -3.78655297e-01 -2.67604780e-01
 -1.13243434e+00  8.94294545e-01 -2.14662070e-01 -1.19751660e-01
  1.93035799e-01  6.65405520e-01 -7.71408761e-02  1.83020101e-01
 -6.16504384e-01  1.06785776e+00 -1.10161741e-01 -6.79156855e-01
  1.81613592e+00 -3.53803114e-01 -1.22805873e+00 -4.78053284e-02
 -1.20784779e+00  6.53921687e-01  9.95816333e-01  1.13588976e+00
 -3.69222354e-01  1.28915240e-01  2.23846129e-01 -2.85079448e-01
 -8.75404682e-01 -1.38725410e+00  9.34665541e-01  1.37099598e-01
  1.71358359e+00 -1.35557383e+00  2.68378180e-01 -8.56100864e-01
 -1.46152402e+00  2.22543778e-01  1.14053175e+00  8.34587768e-01
 -1.59830183e-01  6.50586519e-01 -3.58674004e-01 -9.52210767e-01
  2.65078981e+00 -9.01873610e-01 -2.28231419e-01  7.50812531e-01
  6.81736942e-01  1.52752015e+00  1.22868400e+00 -6.73639395e-01
  2.77414005e-01  6.67911160e-01 -3.65386439e-01 -6.60666441e-01
  9.28507437e-01  7.42343954e-01  1.12533578e+00 -1.62939160e-01
 -6.94692896e-01  1.10600830e+00  1.84424123e+00  1.82799958e+00
  6.98711422e-01 -4.97358188e-01 -2.63803146e-01  4.85006236e-01
 -1.49432021e+00  3.18666389e-01 -9.71594744e-01  3.22106383e-01
 -6.07269103e-01  4.56732216e-01  1.11934544e+00  6.94013257e-01
 -9.27299865e-01 -3.32240989e-01 -1.06360427e+00 -2.67078640e-01
  8.39837234e-01 -2.44669924e+00 -4.33651255e-01  7.50261788e-02
  2.55016069e-01  6.03431978e-01  9.39503319e-01 -1.32918413e+00
 -1.20726926e+00 -1.88717913e+00 -5.31217381e-01  1.04177104e+00
  4.06089479e-01  2.58246197e-01  1.12718212e+00 -4.08581429e-01
 -6.07234323e-01 -5.15034631e-02 -1.48943667e+00  2.05947643e+00
  9.34007826e-01  5.07666406e-01  4.74234243e-01  2.82403118e+00
 -4.99706929e-01 -2.38489412e+00  1.26356650e+00 -9.39799428e-01
  8.70817057e-01  1.13795207e+00  1.28971550e+00 -1.20879423e+00
 -6.70040979e-01 -1.93741981e+00  1.21950671e+00 -4.58428907e-01
  2.48663622e-02  1.74888918e+00 -4.34136847e-01  3.97233307e-01
 -1.55715854e+00  2.63030712e-01  2.78058972e-01  8.62213162e-01
 -7.11156387e-01 -9.93038063e-01 -5.18115309e-01 -6.18821822e-01
  5.52056193e-01 -5.98383139e-01 -8.64356467e-02 -7.57523305e-01
  2.08008507e+00  6.74532307e-01  1.04638620e+00  3.54804864e-02
  7.13468813e-02 -7.61811061e-02 -9.83514835e-01  8.76163154e-01
 -9.60137210e-01  8.70960372e-01 -3.34114679e-01 -1.15958541e+00
  4.80340849e-01  5.68864449e-01 -5.14262981e-01 -3.66922458e-01
 -6.94270453e-01  1.86976870e+00 -5.52833734e-02  1.66206523e+00
 -4.08869163e-01  6.05793715e-01  1.27101898e-01  6.69722677e-01
  8.82213319e-01  1.21800396e+00  1.80808900e-01 -9.77422016e-01
  5.58557299e-01 -1.23788108e+00 -4.34931442e-01  9.92159138e-02
 -9.67499756e-01  1.02475670e+00 -7.99197832e-01  1.15482778e+00
  1.65325956e+00 -5.14559947e-01 -2.94429105e+00 -2.85758103e-01
  2.63440778e-01 -2.68472045e-01  1.02854242e+00  7.15861343e-01
  1.00084147e-02  1.99341635e-01  4.69204481e-01  8.72194150e-01
  2.29835355e+00  1.54075360e+00 -3.95364920e-01 -2.61416384e-02
 -1.22429171e+00  1.44518179e+00  7.56806970e-01 -1.31568141e+00
  6.74134507e-01  6.25269541e-02  1.05477118e-01  8.59713933e-01
  1.11310801e-01  1.95710932e+00  1.42518435e+00 -2.04882982e+00
 -4.32308990e-02 -3.65912000e-01 -1.78556393e-02  1.01663602e+00
  1.43364798e+00 -7.02368962e-01  2.77437355e+00 -1.95081449e+00
 -2.33322378e+00  8.96637065e-01 -1.24831774e+00  2.78083609e+00
  4.17596296e-01  4.67140726e-01  4.14595677e-01 -2.79360970e-02
  1.29574322e+00  3.06303857e-01 -1.50256218e+00 -4.12911933e-01
 -1.17688256e+00 -1.19440587e+00  5.05150277e-01 -5.93235518e-01
 -5.12422884e-01 -6.35857353e-02  2.73188245e-01  6.42517118e-01
  9.17909786e-01  8.39963957e-01  1.93747022e+00  1.22856827e+00
 -3.02260102e-01  2.27016062e-01  1.01854350e+00 -1.07393346e+00
 -2.19157806e+00  1.45674383e+00  1.25965596e+00 -1.59829366e+00
  1.65101482e+00 -4.51275261e-01  3.32138920e-01  1.17106210e-01
 -2.03734385e-01  4.02480000e-01 -1.94898856e-01  9.87745329e-02
 -2.08731009e+00  3.91571549e-01  1.01544091e+00 -1.51215603e+00
 -7.93363773e-01  6.58043434e-01  1.01503221e+00  5.00860055e-01
 -1.14506256e+00  6.32243982e-01 -7.88675434e-01 -8.72173183e-01
  8.53835914e-02 -3.49975406e-01  7.13170981e-01 -8.55679297e-02
 -1.15596718e-01  1.72568918e+00  1.49150933e+00  1.38940967e+00
  5.85324905e-01  1.58202297e-01  1.96408977e-01 -9.86508255e-01
 -4.46029464e-01 -1.19972585e+00  4.61662642e-01  6.94645323e-01
  5.06900416e-01  1.13365482e+00  6.39414665e-01 -1.04064501e+00
  3.19020326e-01 -5.88296162e-01 -1.10223199e+00  7.87731731e-01
 -7.31308170e-01  5.66426266e-01  7.82483955e-01 -1.36146959e+00
 -1.65072514e+00  7.77639616e-01  4.52526905e-01 -3.50247877e-02
  1.21244250e+00 -1.07763988e+00 -6.09520808e-02 -2.26598058e+00
  1.43636601e+00  2.66201280e-01 -1.62420529e+00 -1.14270651e-01
  1.12151789e+00  1.09698349e+00  2.03893603e+00  1.19152036e-02
  4.17458084e-01  1.11760748e+00  3.65702110e-02  1.66727516e-01
  1.12964254e-02 -1.30228703e+00 -9.61798673e-02  5.97974047e-01
  6.49482620e-01 -3.25188635e-01 -2.36414062e-01  2.51834320e-01
 -3.96332251e-01 -2.10424476e-01 -2.43404898e+00  1.39652620e+00
 -1.03478377e+00 -2.27899567e+00  1.19150461e-01 -1.91325620e+00
  4.70035421e-01 -7.51782528e-01  3.28543042e-02 -1.32088569e+00
 -7.83720348e-01  2.10381381e-01  4.21049367e-01  7.26880489e-01
 -2.47722115e-01  2.82242485e-01 -9.27371355e-01 -1.02310146e+00
  5.48247431e-01  1.75773515e+00 -1.38698255e+00  7.87179768e-01
 -3.60927205e-01  3.56843637e-02  2.05834888e-01 -3.50022606e-01
 -1.88192133e-01  2.61971166e-01  1.38672859e-02 -5.28887936e-01
 -4.47963049e-01  4.71694441e-01 -1.13088083e+00  6.62989970e-01
 -2.82982313e-01 -8.63396331e-01 -1.31508532e-01 -3.45977976e-01
  3.45436008e-02  3.96087052e-01 -2.87851846e-01  2.47634587e-01
  7.79848044e-01  6.86717685e-01 -1.94150822e-01 -9.20276107e-01
  1.11426869e+00 -1.32205068e+00 -1.29634273e+00  3.47101890e-01
 -6.90744182e-01  7.66808075e-01  1.34294662e+00 -8.59306747e-02
 -4.54786766e-01 -6.32220557e-01 -6.52975107e-01 -2.84811422e-01
  3.47356140e-02 -6.08309265e-01  2.19589423e-01  1.58691482e+00
  2.46348422e+00 -3.91663152e-01  1.21717600e+00 -3.33829850e-02
  1.22322775e+00  1.24471483e-01 -1.15047783e+00  1.05805707e-01
  1.11388701e+00 -1.69602474e+00  6.10394940e-01  1.00830902e+00
  5.26007597e-02 -1.46657490e+00 -4.29632189e-01  1.29850686e+00
  7.04454658e-01 -4.21050097e-01  4.78843528e-01 -2.42536781e+00
  2.51880820e-01 -2.92469450e-03 -2.51331921e-01  1.46865994e+00
  9.98219336e-01 -1.99401757e+00  5.72584098e-02  1.53434297e-01
 -3.55995125e-01  1.07396469e+00  1.31941828e+00 -7.45197067e-02
 -1.52109936e+00 -1.19252318e+00 -9.89756381e-01 -2.68568026e-01
  1.92754875e+00 -8.40406713e-02  3.80892188e-01  1.08350582e+00
 -1.03076912e+00 -3.78734233e-01  8.08271484e-01  4.25686086e-01
 -1.83700695e-01  4.83735994e-01 -2.37978734e-01  1.59043169e+00
 -8.22060477e-01 -4.17459493e-01  4.28092864e-02 -7.25392337e-01
  5.55319274e-01 -9.04341429e-01 -2.41387841e-01  5.58951803e-01
  4.17372926e-01 -2.26384741e-01  5.29768056e-01 -8.63174621e-01
 -6.73768558e-01  5.39839333e-01  8.99216278e-01  3.48706974e-01
 -1.11044942e+00 -5.43963485e-01 -2.18925740e-01 -8.34728064e-01
  9.32381171e-01  3.29792018e-02 -1.18753156e+00  5.83382225e-01
  1.22066248e+00  1.63420967e+00 -1.80410393e-01  6.36162581e-01
  1.49106409e-01  1.67829397e+00  2.91848149e-01  1.44414355e+00
 -3.91015156e-03 -6.21883011e-01 -3.79179084e-01 -8.74592724e-01
 -1.05883417e+00  5.94847542e-01  7.81070295e-01 -1.80680494e+00
 -1.52805502e-01  7.05895662e-01  2.51607171e-01 -8.96371177e-02
 -5.81434125e-01  3.05000908e-01 -1.52958356e+00  1.13404029e+00
 -2.62401980e-01 -6.02274574e-01  9.97057097e-01 -8.84568669e-02
  9.99090611e-01 -4.23787255e-01 -1.10328493e-01  5.05034569e-01
 -4.88898912e-01  3.63709313e-01  3.21593907e+00  1.12515284e+00
  1.32535741e+00 -9.43125045e-01 -1.05920255e-01  2.22216179e+00
 -1.41574938e+00  1.12073952e+00  4.19523879e-01 -1.91214624e-01
 -2.97296720e-01 -1.50464442e+00 -1.42151340e+00 -5.48214500e-01
  6.42488698e-01 -1.21124169e+00  1.57672059e+00 -1.20797366e+00
  5.72106826e-01  1.88086800e-01 -1.59647555e+00 -3.47381212e-01
  4.93695907e-01 -3.39887441e-01 -4.53984281e-01 -3.49878256e-02
 -1.86619113e-01 -7.68917443e-01 -5.62603925e-01 -7.51025809e-01
  2.63285625e-01  2.40471189e+00 -9.86691753e-01 -7.20993261e-01
 -5.42347246e-02  2.46247009e+00 -4.15932949e-01 -1.00029709e+00
 -5.83680182e-01 -1.92127529e+00  4.48089148e-02 -9.39454794e-01
  4.68351019e-02 -1.17432588e+00  4.41354537e-02 -1.14716077e+00
  2.20010647e-01  1.10040767e-01  5.91720997e-01 -1.01639135e+00
  8.33020685e-01  5.95600922e-01  1.17378399e+00 -5.36734551e-01
 -2.21111336e-01  2.67167685e-01  3.49993765e-01  4.52158010e-02
 -1.08408188e+00 -1.03894753e+00  9.69850596e-01  1.15802916e-01
 -1.50930546e+00  1.13992753e+00  2.12960963e+00  8.12260546e-01
 -4.75466547e-01 -4.75547602e-01  1.00148451e+00 -7.87181594e-02
 -4.86058303e-01 -4.23806021e-01  1.05622303e+00 -1.32962417e+00
  1.57952418e+00  1.43809752e+00  5.85900715e-01  1.83431295e+00
  1.44512674e+00 -1.61036545e+00 -2.16923434e-01 -4.91867288e-01
 -5.06315165e-01 -9.25050618e-01  2.49762396e-01  1.08911245e+00
  6.55509045e-01 -2.27405791e-01  9.62461653e-01 -2.07742174e+00
 -9.73086465e-01  1.28193652e+00  1.27073718e-01 -3.67111075e-01
  2.73073699e-01 -7.89284715e-01 -9.64747922e-01  4.35681644e-01
 -7.32329250e-01  9.92376785e-01  6.96463142e-01 -2.60045570e-02
  1.28755118e+00 -9.93790623e-01 -7.74279755e-01  2.67514491e+00
 -4.44995728e-01  4.42666599e-01  4.63161585e-01  1.28678492e-01
  3.65605442e-01 -4.86683487e-01  4.67144081e-02 -1.03908298e+00
 -3.36001620e-01 -1.69058219e-01 -1.18875691e+00  9.35514228e-01
 -1.18683948e+00  2.22801019e+00  8.21047680e-01  1.01504550e+00
  4.85455712e-01  6.77922383e-01 -2.21683455e-01 -7.52781483e-01
 -1.67139543e-01 -9.18824840e-02 -3.71254258e-02 -4.18988971e-01
  5.51040067e-01  1.15093060e+00 -2.13665992e+00 -8.46236142e-03
  7.20772573e-01  1.45622363e+00  7.96302282e-01 -1.56828364e+00
 -7.71153791e-01  1.00996607e+00 -1.59784874e+00 -1.45259697e+00
  5.60659355e-01 -3.71284566e-01  7.60794473e-01 -1.49114874e-01
  9.90551104e-01  1.07979930e+00 -2.69614327e+00  1.11196776e+00
  6.15178324e-01 -4.17133309e-01 -1.37235817e+00 -1.22853018e-01
 -2.23962919e+00 -1.85242631e+00 -8.59898785e-01  2.43916638e-01
  5.66792587e-01 -1.41631061e+00  1.28248455e+00  2.60097836e+00
 -1.85729153e+00  1.76550820e-01  9.56651426e-01  5.38085777e-01
 -6.01194539e-01 -1.69442963e+00  2.92210390e-01  7.95132922e-01
  3.77839687e-01  1.77916415e+00  2.11292784e+00 -6.69283808e-01
 -1.74510874e-02 -2.01973460e+00 -1.11923167e-01 -1.06980553e+00
  5.88027436e-01  8.83639443e-01 -7.85022705e-01  5.85141172e-01
  5.16217925e-02  5.92116173e-01 -5.54136697e-01 -5.26575176e-02
  5.64458974e-01  4.13032743e-01  9.69326832e-01 -1.84824403e-01
 -5.71048434e-01  2.29203994e-01 -4.74953548e-01  1.14499161e-01
  2.71082623e-01 -7.50683690e-01  5.85585014e-01 -1.67954460e+00
  1.62649148e+00  1.49793468e+00 -3.21403383e-02 -1.88854872e+00
  4.61817369e-01 -9.71900996e-01  1.14954736e+00  9.29615097e-01
 -4.68958297e-01  1.65593200e+00 -5.97272461e-01 -1.59687467e+00
  2.36964921e-01  1.51386249e+00  1.51758460e-01  8.19430294e-01
  4.83607192e-01 -8.86697445e-01 -9.22379326e-01 -5.21708149e-01
  1.06093657e-02 -6.71455320e-01 -1.29563771e+00  8.38403853e-01
  7.62941906e-01 -4.16294202e-01 -4.78621722e-01 -4.53959610e-01
 -1.39342589e+00  5.69781900e-01  8.20555331e-01 -8.74685449e-01
  9.71704098e-01  1.27517094e+00 -2.00649953e+00  3.45810615e-01
  8.29986934e-01 -3.16531735e-01  2.27166688e-01  1.41017297e+00
  6.01776233e-01  2.44537874e-01 -9.49038216e-01 -3.33960493e-01
  4.01749937e-01  5.55763249e-01  1.59033843e-01 -2.80061470e-01
 -1.24434379e+00  6.45178667e-01 -3.32878414e-01  3.47972144e-01
 -1.28891260e+00 -2.73765698e-02  5.80717419e-01 -7.85824256e-01
 -3.70877133e-01  1.91598127e-01  1.43447186e-01  1.29487698e+00
  5.50840935e-02  4.64522819e-01 -1.56957831e-02 -1.79285767e-01
  1.07803687e+00  3.43621152e-01  2.15636667e-01 -9.10606677e-01
 -2.10835041e+00  6.26522048e-02 -5.87259814e-01 -1.60594039e+00]
[-2.18937287  1.75245145 -0.54567653  0.8022357   0.85839876 -1.83896084
 -1.15054524  1.2971426  -0.61262265 -0.80594783  1.24508538 -0.40914145
 -1.08857018  0.71140431  0.7038381  -0.85569703  1.39930431  0.69214507
  0.53154818  1.06469662 -0.92839215  1.65914177 -0.91544838  1.22461752
 -0.18965949 -1.39688991  1.15543289  1.40506246 -0.17822882 -2.2990291
  1.09506371 -0.41219274 -0.5091119  -0.50934243 -1.17654676  0.53536369
  0.29679826  0.36877274 -1.53889461  1.25743411  0.78398068  0.08075617
  0.66334487 -0.32900102 -1.44861996 -0.15073884  0.30404334 -0.70011594
  0.59394954 -0.40789367  0.52374959  0.75310804  1.01419481 -0.06952096
  1.33472718  0.40513703  1.22897048  1.11203133 -0.81557746  0.34986776
  2.68715836 -0.32293569  0.02141279  0.2776828  -0.94876693 -0.69311948
 -1.27670396 -0.17089022  0.35608155  1.51478447  0.72312145 -1.18167714
 -2.19867809  2.64787818  0.76464693 -0.23223799 -0.40878703  1.15093314
  0.5435364  -0.66854054 -0.1977629   0.52523586 -0.75533167  2.40349827
 -2.14664264 -1.4775607  -0.36043189  0.37623491 -0.82705171  1.2043158
  1.39048091  0.32901314 -0.09738094  0.23899278  0.87789714 -0.74448809
  2.63210908 -0.39174448  0.56750261 -0.1000893   1.78873665 -0.7952196
  0.5909842   0.82724     0.48709316  0.86508115 -1.80045485 -0.96029144
  1.28439921  0.80516708  1.20683025  0.35954983  0.97973775 -1.78609182
 -2.33404353  0.1733365   0.92130324 -2.79865565  0.85538042 -0.32551237
 -0.35969885  1.39217747 -0.82489162  0.71259401  1.19801235 -0.13421906
 -0.03350917 -0.02517506  0.04479399  1.35043001  0.05185273 -1.15801209
  0.19735922  0.46547365 -1.03513166 -0.30112233 -1.6714471   1.95541673
  0.52869621 -0.74271858 -0.05073006 -1.55858287 -0.04556001  0.63362797
  0.29288305  0.47632665  2.04002285  1.70498104 -0.66846605  0.38995656
  1.51242381  0.47863895  0.1849482  -0.33491874 -1.26073326 -0.96658071
  0.90147545 -0.77884959 -0.90576879  0.8458178   1.13840307 -0.89576077
 -0.5496274   0.08277358  0.57822716  3.44398417 -0.12579278 -1.01366233
  0.02503878  0.94020374 -0.81340753 -2.1793472   0.24191991 -0.55590556
  1.22186336  0.6454536   0.81738295  0.31456219 -1.32090095 -0.26802588
 -0.46836618 -0.06135304  1.14000478  0.06168164 -0.26090392 -0.5267753
 -1.01220557  0.6067585  -0.62828377  0.31011211 -0.30594536 -0.88860636
  1.44810532  0.38537089 -1.10967974  0.27730102 -0.1549545   0.07472531
 -1.22619679 -0.2453424  -1.79443202 -1.55738679 -0.29766924  0.09601756
 -1.38818174 -2.51422242  0.23086855 -0.43561046  0.66054258 -0.40527005
 -1.15832765 -0.72482504 -1.74165859 -0.3705727  -1.13919098 -1.52215558
  0.23527871  0.24207072 -1.16638053  1.45475391  1.32367029  0.63750387
  0.34384894  0.71985839  0.35208035 -2.30492429  1.71602815  0.42170186
  1.82290014  1.4100354   0.28902639 -1.16211057  1.48349769  1.41882957
  2.11313376  1.28485131 -0.43507727 -0.85600246 -0.08987055 -0.50736684
  0.01423551 -1.00584963 -0.88553845 -0.41189599 -0.27132718  0.12567088
 -0.97990599  1.42251326  1.08542376 -0.6479666  -0.21396694 -1.58268498
 -0.21239817  1.0445865   0.13485741 -0.16163435 -0.25205391 -0.21855109
 -0.02429913 -0.76449093 -0.90832245  0.4760762   0.55167323  0.67750181
  1.83752422  1.38894624 -1.21976634 -0.56485976  0.22381807 -0.85506691
  0.45001609 -0.79259713 -1.12430074 -0.33787738 -0.40529942 -0.92918446
 -0.12755648 -0.86272224  0.54323331  0.36224716 -0.06502576  0.63096293
 -0.50381022  0.66150367 -0.18634527 -0.71168016  0.04311009 -0.91803737
  1.03651274 -0.85463646 -2.2925512   0.02533386  1.93725363 -0.43281411
  0.24059434  0.34751271 -0.94887944  2.24066108 -0.66832084 -0.88793143
 -0.21567765  0.39396238  0.00831455  0.1513238   1.33734033  1.43132017

In [25]:
quartiles = pd.qcut(data, 4, precision=2)
print(quartiles)

quartiles1 = pd.qcut(data_5, 4, precision=2)
print(quartiles1)

[(-2.9499999999999997, -0.59], (-2.9499999999999997, -0.59], (-0.59, 0.033], (-0.59, 0.033], (-0.59, 0.033], ..., (-2.9499999999999997, -0.59], (-2.9499999999999997, -0.59], (0.033, 0.68], (-0.59, 0.033], (-2.9499999999999997, -0.59]]
Length: 1000
Categories (4, interval[float64, right]): [(-2.9499999999999997, -0.59] < (-0.59, 0.033] < (0.033, 0.68] < (0.68, 3.22]]
[(-2.8099999999999996, -0.71], (0.71, 3.44], (-0.71, -0.025], (0.71, 3.44], (0.71, 3.44], ..., (0.71, 3.44], (0.71, 3.44], (-0.71, -0.025], (-2.8099999999999996, -0.71], (-0.025, 0.71]]
Length: 400
Categories (4, interval[float64, right]): [(-2.8099999999999996, -0.71] < (-0.71, -0.025] < (-0.025, 0.71] < (0.71, 3.44]]

In [26]:
print(pd.value_counts(quartiles))
print()
print(pd.value_counts(quartiles1))

(-2.9499999999999997, -0.59]    250
(-0.59, 0.033]                  250
(0.033, 0.68]                   250
(0.68, 3.22]                    250
Name: count, dtype: int64

(-2.8099999999999996, -0.71]    100
(-0.71, -0.025]                 100
(-0.025, 0.71]                  100
(0.71, 3.44]                    100
Name: count, dtype: int64

C:\Users\CursosTardes\AppData\Local\Temp\ipykernel_10656\1002654172.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  print(pd.value_counts(quartiles))
C:\Users\CursosTardes\AppData\Local\Temp\ipykernel_10656\1002654172.py:3: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  print(pd.value_counts(quartiles1))

In [27]:
print(pd.Series(quartiles).value_counts())
print()
print(pd.Series(quartiles1).value_counts())

(-2.9499999999999997, -0.59]    250
(-0.59, 0.033]                  250
(0.033, 0.68]                   250
(0.68, 3.22]                    250
Name: count, dtype: int64

(-2.8099999999999996, -0.71]    100
(-0.71, -0.025]                 100
(-0.025, 0.71]                  100
(0.71, 3.44]                    100
Name: count, dtype: int64

De forma similar a `pandas.cut`, el usuario puede pasar sus propios cuantiles (números entre 0 y 1, ambos inclusive):

In [28]:
print(data)
print()
print(data_5)

[-9.22419675e-01 -7.58845414e-01 -6.11030218e-02 -2.89811435e-02
 -4.76265027e-01 -9.09324771e-01 -2.54208187e-01 -9.69504864e-01
 -8.37639844e-01  9.91373292e-01  1.29153610e+00 -9.04922243e-01
  1.08251538e+00 -6.46260635e-01 -4.90381779e-02 -5.32130464e-01
  5.01062207e-01  5.05703194e-01  8.22892517e-01 -4.78762468e-01
 -1.01469512e+00  3.04294061e+00 -1.63182439e+00  1.52942749e+00
 -2.50578964e-01 -5.66054232e-01 -1.62970552e+00  9.97131509e-01
  9.13446246e-01 -3.78446642e-01 -7.57998523e-01  4.25333029e-01
 -4.54062613e-01  4.90592766e-01  9.91323022e-01  4.99838786e-01
  6.89280534e-01  4.76492510e-01  2.83218969e-01 -4.60837025e-01
  2.47087166e-01  5.95488033e-01 -1.52947827e-01  4.43368832e-01
  7.15189207e-01  7.18528460e-01 -1.07198850e+00 -5.12020854e-01
 -4.32407821e-02  2.21165040e+00 -1.12047793e+00  5.01523234e-01
 -1.83418461e+00  2.19546726e-01  1.34269802e+00  8.26341122e-01
  1.30872247e+00 -5.33425860e-01  3.93068845e-01 -1.29550256e-01
 -2.01437577e+00 -8.09178875e-01 -2.25271999e-01  5.08317884e-01
 -3.54027624e-01  1.38910092e+00  4.78049757e-01  1.30162623e+00
  8.75607942e-01 -2.63122005e+00 -2.39451829e+00 -4.13698728e-01
  3.52811940e-01 -5.18646228e-02  1.68028939e-01  3.17286736e-01
 -4.71902072e-01  2.14967366e-01  3.31452399e-01  9.48250818e-01
 -6.57723739e-01  5.19435898e-01  7.85891851e-01 -9.35843415e-01
  3.50064758e-02 -3.83255651e-01  1.51199013e-01 -3.13403939e-01
  6.27557698e-01  1.78101835e+00 -5.91186252e-01  3.09521089e-02
 -7.01758421e-01  5.71686069e-02 -4.40967484e-01  5.51881993e-01
  1.76694797e+00 -4.12597413e-01 -4.40219170e-01 -4.02980830e-01
 -4.75989290e-01  7.09099792e-01 -1.00643190e-01  1.50392625e+00
 -2.23471414e+00  1.99288832e+00 -4.75169370e-01  2.59241924e+00
  9.90673124e-01  7.59858695e-01  2.08704241e+00 -1.39076824e+00
  5.63074257e-01 -5.12335260e-01  5.63858693e-01  2.83940939e-01
 -1.40541274e+00 -8.25163122e-01  1.23687727e+00  5.15763352e-03
 -3.99462739e-01 -1.13328259e+00 -1.22764669e+00 -1.25595357e-01
 -3.95478211e-01  5.71747812e-01  2.65559874e-02  6.37868096e-01
 -8.99245141e-01 -5.55898513e-01 -2.55479484e-01  9.88320540e-01
  1.19173549e+00 -1.04387391e+00 -1.65862587e+00  2.03610025e-01
  1.88346303e+00 -2.41130102e+00  3.72376508e-01  5.96003385e-01
  5.10467074e-01  5.12245101e-01 -7.11279797e-01 -3.73648749e-01
 -1.25430870e+00  5.80185245e-01  9.55158842e-01 -2.20160958e-01
  7.90572390e-01 -3.30338263e-01 -4.93070492e-01  4.46917599e-01
 -1.52891845e+00  8.77800550e-01  3.24854402e-01  4.03359474e-01
 -2.80389952e-01  5.98356702e-01  1.08427269e+00 -1.77680134e-01
 -9.74517738e-02  8.28880139e-01 -6.54157692e-02 -5.18015494e-01
 -8.64952249e-01 -1.11835648e+00 -8.37035748e-01 -3.28966554e-01
  5.42505716e-01  3.37154514e-01 -1.63701364e-02  1.58279309e+00
  2.17306822e+00 -7.81793534e-01 -7.59580844e-01 -1.65100162e+00
  4.13460838e-01 -1.10444952e+00 -1.91650986e-03  1.03429388e+00
  4.80933327e-02 -3.39512176e-01 -1.61094069e+00 -1.89691622e-01
 -2.33569817e+00 -8.45003057e-01 -3.74402933e-01  4.93901942e-01
  9.68698911e-01 -7.90562543e-02  6.17804253e-01  7.12855617e-01
  1.82066962e+00 -3.71301894e-01  1.15921432e+00  8.26811001e-02
  5.82260948e-01 -2.13820001e-03  8.18428598e-01  1.72062808e+00
  1.09623098e+00 -1.06754069e-01 -7.30709974e-01  1.73291564e+00
 -2.85677848e-01  1.55510850e+00 -1.23141994e+00 -3.65354632e-01
 -4.01003906e-01 -1.25228533e-01  9.74729178e-01 -5.93990073e-01
  1.03108977e+00  2.77532011e+00  4.53342809e-02  6.80354044e-01
  7.63095324e-01 -2.09274691e+00  3.47349587e-02 -3.19141397e-01
 -5.83833548e-01 -7.56894757e-01  1.07252908e+00  9.62472118e-01
  2.70756531e-02  1.01128756e-02 -8.91100442e-01  2.16540038e-01
 -6.30550578e-01  1.67680114e-01 -5.32752771e-01  6.04052198e-01
  4.79040460e-01 -1.37446327e+00 -4.05222255e-01 -8.27404877e-01
 -4.66866535e-01 -7.01849896e-01 -1.34309212e+00 -6.26108070e-03
 -7.45571404e-01  1.56477348e-01 -1.55436140e+00 -2.09713204e-01
  1.19010574e+00 -1.55106164e+00 -1.24500051e+00 -2.94776668e-01
  2.09039016e+00  9.06471515e-01 -3.78655297e-01 -2.67604780e-01
 -1.13243434e+00  8.94294545e-01 -2.14662070e-01 -1.19751660e-01
  1.93035799e-01  6.65405520e-01 -7.71408761e-02  1.83020101e-01
 -6.16504384e-01  1.06785776e+00 -1.10161741e-01 -6.79156855e-01
  1.81613592e+00 -3.53803114e-01 -1.22805873e+00 -4.78053284e-02
 -1.20784779e+00  6.53921687e-01  9.95816333e-01  1.13588976e+00
 -3.69222354e-01  1.28915240e-01  2.23846129e-01 -2.85079448e-01
 -8.75404682e-01 -1.38725410e+00  9.34665541e-01  1.37099598e-01
  1.71358359e+00 -1.35557383e+00  2.68378180e-01 -8.56100864e-01
 -1.46152402e+00  2.22543778e-01  1.14053175e+00  8.34587768e-01
 -1.59830183e-01  6.50586519e-01 -3.58674004e-01 -9.52210767e-01
  2.65078981e+00 -9.01873610e-01 -2.28231419e-01  7.50812531e-01
  6.81736942e-01  1.52752015e+00  1.22868400e+00 -6.73639395e-01
  2.77414005e-01  6.67911160e-01 -3.65386439e-01 -6.60666441e-01
  9.28507437e-01  7.42343954e-01  1.12533578e+00 -1.62939160e-01
 -6.94692896e-01  1.10600830e+00  1.84424123e+00  1.82799958e+00
  6.98711422e-01 -4.97358188e-01 -2.63803146e-01  4.85006236e-01
 -1.49432021e+00  3.18666389e-01 -9.71594744e-01  3.22106383e-01
 -6.07269103e-01  4.56732216e-01  1.11934544e+00  6.94013257e-01
 -9.27299865e-01 -3.32240989e-01 -1.06360427e+00 -2.67078640e-01
  8.39837234e-01 -2.44669924e+00 -4.33651255e-01  7.50261788e-02
  2.55016069e-01  6.03431978e-01  9.39503319e-01 -1.32918413e+00
 -1.20726926e+00 -1.88717913e+00 -5.31217381e-01  1.04177104e+00
  4.06089479e-01  2.58246197e-01  1.12718212e+00 -4.08581429e-01
 -6.07234323e-01 -5.15034631e-02 -1.48943667e+00  2.05947643e+00
  9.34007826e-01  5.07666406e-01  4.74234243e-01  2.82403118e+00
 -4.99706929e-01 -2.38489412e+00  1.26356650e+00 -9.39799428e-01
  8.70817057e-01  1.13795207e+00  1.28971550e+00 -1.20879423e+00
 -6.70040979e-01 -1.93741981e+00  1.21950671e+00 -4.58428907e-01
  2.48663622e-02  1.74888918e+00 -4.34136847e-01  3.97233307e-01
 -1.55715854e+00  2.63030712e-01  2.78058972e-01  8.62213162e-01
 -7.11156387e-01 -9.93038063e-01 -5.18115309e-01 -6.18821822e-01
  5.52056193e-01 -5.98383139e-01 -8.64356467e-02 -7.57523305e-01
  2.08008507e+00  6.74532307e-01  1.04638620e+00  3.54804864e-02
  7.13468813e-02 -7.61811061e-02 -9.83514835e-01  8.76163154e-01
 -9.60137210e-01  8.70960372e-01 -3.34114679e-01 -1.15958541e+00
  4.80340849e-01  5.68864449e-01 -5.14262981e-01 -3.66922458e-01
 -6.94270453e-01  1.86976870e+00 -5.52833734e-02  1.66206523e+00
 -4.08869163e-01  6.05793715e-01  1.27101898e-01  6.69722677e-01
  8.82213319e-01  1.21800396e+00  1.80808900e-01 -9.77422016e-01
  5.58557299e-01 -1.23788108e+00 -4.34931442e-01  9.92159138e-02
 -9.67499756e-01  1.02475670e+00 -7.99197832e-01  1.15482778e+00
  1.65325956e+00 -5.14559947e-01 -2.94429105e+00 -2.85758103e-01
  2.63440778e-01 -2.68472045e-01  1.02854242e+00  7.15861343e-01
  1.00084147e-02  1.99341635e-01  4.69204481e-01  8.72194150e-01
  2.29835355e+00  1.54075360e+00 -3.95364920e-01 -2.61416384e-02
 -1.22429171e+00  1.44518179e+00  7.56806970e-01 -1.31568141e+00
  6.74134507e-01  6.25269541e-02  1.05477118e-01  8.59713933e-01
  1.11310801e-01  1.95710932e+00  1.42518435e+00 -2.04882982e+00
 -4.32308990e-02 -3.65912000e-01 -1.78556393e-02  1.01663602e+00
  1.43364798e+00 -7.02368962e-01  2.77437355e+00 -1.95081449e+00
 -2.33322378e+00  8.96637065e-01 -1.24831774e+00  2.78083609e+00
  4.17596296e-01  4.67140726e-01  4.14595677e-01 -2.79360970e-02
  1.29574322e+00  3.06303857e-01 -1.50256218e+00 -4.12911933e-01
 -1.17688256e+00 -1.19440587e+00  5.05150277e-01 -5.93235518e-01
 -5.12422884e-01 -6.35857353e-02  2.73188245e-01  6.42517118e-01
  9.17909786e-01  8.39963957e-01  1.93747022e+00  1.22856827e+00
 -3.02260102e-01  2.27016062e-01  1.01854350e+00 -1.07393346e+00
 -2.19157806e+00  1.45674383e+00  1.25965596e+00 -1.59829366e+00
  1.65101482e+00 -4.51275261e-01  3.32138920e-01  1.17106210e-01
 -2.03734385e-01  4.02480000e-01 -1.94898856e-01  9.87745329e-02
 -2.08731009e+00  3.91571549e-01  1.01544091e+00 -1.51215603e+00
 -7.93363773e-01  6.58043434e-01  1.01503221e+00  5.00860055e-01
 -1.14506256e+00  6.32243982e-01 -7.88675434e-01 -8.72173183e-01
  8.53835914e-02 -3.49975406e-01  7.13170981e-01 -8.55679297e-02
 -1.15596718e-01  1.72568918e+00  1.49150933e+00  1.38940967e+00
  5.85324905e-01  1.58202297e-01  1.96408977e-01 -9.86508255e-01
 -4.46029464e-01 -1.19972585e+00  4.61662642e-01  6.94645323e-01
  5.06900416e-01  1.13365482e+00  6.39414665e-01 -1.04064501e+00
  3.19020326e-01 -5.88296162e-01 -1.10223199e+00  7.87731731e-01
 -7.31308170e-01  5.66426266e-01  7.82483955e-01 -1.36146959e+00
 -1.65072514e+00  7.77639616e-01  4.52526905e-01 -3.50247877e-02
  1.21244250e+00 -1.07763988e+00 -6.09520808e-02 -2.26598058e+00
  1.43636601e+00  2.66201280e-01 -1.62420529e+00 -1.14270651e-01
  1.12151789e+00  1.09698349e+00  2.03893603e+00  1.19152036e-02
  4.17458084e-01  1.11760748e+00  3.65702110e-02  1.66727516e-01
  1.12964254e-02 -1.30228703e+00 -9.61798673e-02  5.97974047e-01
  6.49482620e-01 -3.25188635e-01 -2.36414062e-01  2.51834320e-01
 -3.96332251e-01 -2.10424476e-01 -2.43404898e+00  1.39652620e+00
 -1.03478377e+00 -2.27899567e+00  1.19150461e-01 -1.91325620e+00
  4.70035421e-01 -7.51782528e-01  3.28543042e-02 -1.32088569e+00
 -7.83720348e-01  2.10381381e-01  4.21049367e-01  7.26880489e-01
 -2.47722115e-01  2.82242485e-01 -9.27371355e-01 -1.02310146e+00
  5.48247431e-01  1.75773515e+00 -1.38698255e+00  7.87179768e-01
 -3.60927205e-01  3.56843637e-02  2.05834888e-01 -3.50022606e-01
 -1.88192133e-01  2.61971166e-01  1.38672859e-02 -5.28887936e-01
 -4.47963049e-01  4.71694441e-01 -1.13088083e+00  6.62989970e-01
 -2.82982313e-01 -8.63396331e-01 -1.31508532e-01 -3.45977976e-01
  3.45436008e-02  3.96087052e-01 -2.87851846e-01  2.47634587e-01
  7.79848044e-01  6.86717685e-01 -1.94150822e-01 -9.20276107e-01
  1.11426869e+00 -1.32205068e+00 -1.29634273e+00  3.47101890e-01
 -6.90744182e-01  7.66808075e-01  1.34294662e+00 -8.59306747e-02
 -4.54786766e-01 -6.32220557e-01 -6.52975107e-01 -2.84811422e-01
  3.47356140e-02 -6.08309265e-01  2.19589423e-01  1.58691482e+00
  2.46348422e+00 -3.91663152e-01  1.21717600e+00 -3.33829850e-02
  1.22322775e+00  1.24471483e-01 -1.15047783e+00  1.05805707e-01
  1.11388701e+00 -1.69602474e+00  6.10394940e-01  1.00830902e+00
  5.26007597e-02 -1.46657490e+00 -4.29632189e-01  1.29850686e+00
  7.04454658e-01 -4.21050097e-01  4.78843528e-01 -2.42536781e+00
  2.51880820e-01 -2.92469450e-03 -2.51331921e-01  1.46865994e+00
  9.98219336e-01 -1.99401757e+00  5.72584098e-02  1.53434297e-01
 -3.55995125e-01  1.07396469e+00  1.31941828e+00 -7.45197067e-02
 -1.52109936e+00 -1.19252318e+00 -9.89756381e-01 -2.68568026e-01
  1.92754875e+00 -8.40406713e-02  3.80892188e-01  1.08350582e+00
 -1.03076912e+00 -3.78734233e-01  8.08271484e-01  4.25686086e-01
 -1.83700695e-01  4.83735994e-01 -2.37978734e-01  1.59043169e+00
 -8.22060477e-01 -4.17459493e-01  4.28092864e-02 -7.25392337e-01
  5.55319274e-01 -9.04341429e-01 -2.41387841e-01  5.58951803e-01
  4.17372926e-01 -2.26384741e-01  5.29768056e-01 -8.63174621e-01
 -6.73768558e-01  5.39839333e-01  8.99216278e-01  3.48706974e-01
 -1.11044942e+00 -5.43963485e-01 -2.18925740e-01 -8.34728064e-01
  9.32381171e-01  3.29792018e-02 -1.18753156e+00  5.83382225e-01
  1.22066248e+00  1.63420967e+00 -1.80410393e-01  6.36162581e-01
  1.49106409e-01  1.67829397e+00  2.91848149e-01  1.44414355e+00
 -3.91015156e-03 -6.21883011e-01 -3.79179084e-01 -8.74592724e-01
 -1.05883417e+00  5.94847542e-01  7.81070295e-01 -1.80680494e+00
 -1.52805502e-01  7.05895662e-01  2.51607171e-01 -8.96371177e-02
 -5.81434125e-01  3.05000908e-01 -1.52958356e+00  1.13404029e+00
 -2.62401980e-01 -6.02274574e-01  9.97057097e-01 -8.84568669e-02
  9.99090611e-01 -4.23787255e-01 -1.10328493e-01  5.05034569e-01
 -4.88898912e-01  3.63709313e-01  3.21593907e+00  1.12515284e+00
  1.32535741e+00 -9.43125045e-01 -1.05920255e-01  2.22216179e+00
 -1.41574938e+00  1.12073952e+00  4.19523879e-01 -1.91214624e-01
 -2.97296720e-01 -1.50464442e+00 -1.42151340e+00 -5.48214500e-01
  6.42488698e-01 -1.21124169e+00  1.57672059e+00 -1.20797366e+00
  5.72106826e-01  1.88086800e-01 -1.59647555e+00 -3.47381212e-01
  4.93695907e-01 -3.39887441e-01 -4.53984281e-01 -3.49878256e-02
 -1.86619113e-01 -7.68917443e-01 -5.62603925e-01 -7.51025809e-01
  2.63285625e-01  2.40471189e+00 -9.86691753e-01 -7.20993261e-01
 -5.42347246e-02  2.46247009e+00 -4.15932949e-01 -1.00029709e+00
 -5.83680182e-01 -1.92127529e+00  4.48089148e-02 -9.39454794e-01
  4.68351019e-02 -1.17432588e+00  4.41354537e-02 -1.14716077e+00
  2.20010647e-01  1.10040767e-01  5.91720997e-01 -1.01639135e+00
  8.33020685e-01  5.95600922e-01  1.17378399e+00 -5.36734551e-01
 -2.21111336e-01  2.67167685e-01  3.49993765e-01  4.52158010e-02
 -1.08408188e+00 -1.03894753e+00  9.69850596e-01  1.15802916e-01
 -1.50930546e+00  1.13992753e+00  2.12960963e+00  8.12260546e-01
 -4.75466547e-01 -4.75547602e-01  1.00148451e+00 -7.87181594e-02
 -4.86058303e-01 -4.23806021e-01  1.05622303e+00 -1.32962417e+00
  1.57952418e+00  1.43809752e+00  5.85900715e-01  1.83431295e+00
  1.44512674e+00 -1.61036545e+00 -2.16923434e-01 -4.91867288e-01
 -5.06315165e-01 -9.25050618e-01  2.49762396e-01  1.08911245e+00
  6.55509045e-01 -2.27405791e-01  9.62461653e-01 -2.07742174e+00
 -9.73086465e-01  1.28193652e+00  1.27073718e-01 -3.67111075e-01
  2.73073699e-01 -7.89284715e-01 -9.64747922e-01  4.35681644e-01
 -7.32329250e-01  9.92376785e-01  6.96463142e-01 -2.60045570e-02
  1.28755118e+00 -9.93790623e-01 -7.74279755e-01  2.67514491e+00
 -4.44995728e-01  4.42666599e-01  4.63161585e-01  1.28678492e-01
  3.65605442e-01 -4.86683487e-01  4.67144081e-02 -1.03908298e+00
 -3.36001620e-01 -1.69058219e-01 -1.18875691e+00  9.35514228e-01
 -1.18683948e+00  2.22801019e+00  8.21047680e-01  1.01504550e+00
  4.85455712e-01  6.77922383e-01 -2.21683455e-01 -7.52781483e-01
 -1.67139543e-01 -9.18824840e-02 -3.71254258e-02 -4.18988971e-01
  5.51040067e-01  1.15093060e+00 -2.13665992e+00 -8.46236142e-03
  7.20772573e-01  1.45622363e+00  7.96302282e-01 -1.56828364e+00
 -7.71153791e-01  1.00996607e+00 -1.59784874e+00 -1.45259697e+00
  5.60659355e-01 -3.71284566e-01  7.60794473e-01 -1.49114874e-01
  9.90551104e-01  1.07979930e+00 -2.69614327e+00  1.11196776e+00
  6.15178324e-01 -4.17133309e-01 -1.37235817e+00 -1.22853018e-01
 -2.23962919e+00 -1.85242631e+00 -8.59898785e-01  2.43916638e-01
  5.66792587e-01 -1.41631061e+00  1.28248455e+00  2.60097836e+00
 -1.85729153e+00  1.76550820e-01  9.56651426e-01  5.38085777e-01
 -6.01194539e-01 -1.69442963e+00  2.92210390e-01  7.95132922e-01
  3.77839687e-01  1.77916415e+00  2.11292784e+00 -6.69283808e-01
 -1.74510874e-02 -2.01973460e+00 -1.11923167e-01 -1.06980553e+00
  5.88027436e-01  8.83639443e-01 -7.85022705e-01  5.85141172e-01
  5.16217925e-02  5.92116173e-01 -5.54136697e-01 -5.26575176e-02
  5.64458974e-01  4.13032743e-01  9.69326832e-01 -1.84824403e-01
 -5.71048434e-01  2.29203994e-01 -4.74953548e-01  1.14499161e-01
  2.71082623e-01 -7.50683690e-01  5.85585014e-01 -1.67954460e+00
  1.62649148e+00  1.49793468e+00 -3.21403383e-02 -1.88854872e+00
  4.61817369e-01 -9.71900996e-01  1.14954736e+00  9.29615097e-01
 -4.68958297e-01  1.65593200e+00 -5.97272461e-01 -1.59687467e+00
  2.36964921e-01  1.51386249e+00  1.51758460e-01  8.19430294e-01
  4.83607192e-01 -8.86697445e-01 -9.22379326e-01 -5.21708149e-01
  1.06093657e-02 -6.71455320e-01 -1.29563771e+00  8.38403853e-01
  7.62941906e-01 -4.16294202e-01 -4.78621722e-01 -4.53959610e-01
 -1.39342589e+00  5.69781900e-01  8.20555331e-01 -8.74685449e-01
  9.71704098e-01  1.27517094e+00 -2.00649953e+00  3.45810615e-01
  8.29986934e-01 -3.16531735e-01  2.27166688e-01  1.41017297e+00
  6.01776233e-01  2.44537874e-01 -9.49038216e-01 -3.33960493e-01
  4.01749937e-01  5.55763249e-01  1.59033843e-01 -2.80061470e-01
 -1.24434379e+00  6.45178667e-01 -3.32878414e-01  3.47972144e-01
 -1.28891260e+00 -2.73765698e-02  5.80717419e-01 -7.85824256e-01
 -3.70877133e-01  1.91598127e-01  1.43447186e-01  1.29487698e+00
  5.50840935e-02  4.64522819e-01 -1.56957831e-02 -1.79285767e-01
  1.07803687e+00  3.43621152e-01  2.15636667e-01 -9.10606677e-01
 -2.10835041e+00  6.26522048e-02 -5.87259814e-01 -1.60594039e+00]

[-2.18937287  1.75245145 -0.54567653  0.8022357   0.85839876 -1.83896084
 -1.15054524  1.2971426  -0.61262265 -0.80594783  1.24508538 -0.40914145
 -1.08857018  0.71140431  0.7038381  -0.85569703  1.39930431  0.69214507
  0.53154818  1.06469662 -0.92839215  1.65914177 -0.91544838  1.22461752
 -0.18965949 -1.39688991  1.15543289  1.40506246 -0.17822882 -2.2990291
  1.09506371 -0.41219274 -0.5091119  -0.50934243 -1.17654676  0.53536369
  0.29679826  0.36877274 -1.53889461  1.25743411  0.78398068  0.08075617
  0.66334487 -0.32900102 -1.44861996 -0.15073884  0.30404334 -0.70011594
  0.59394954 -0.40789367  0.52374959  0.75310804  1.01419481 -0.06952096
  1.33472718  0.40513703  1.22897048  1.11203133 -0.81557746  0.34986776
  2.68715836 -0.32293569  0.02141279  0.2776828  -0.94876693 -0.69311948
 -1.27670396 -0.17089022  0.35608155  1.51478447  0.72312145 -1.18167714
 -2.19867809  2.64787818  0.76464693 -0.23223799 -0.40878703  1.15093314
  0.5435364  -0.66854054 -0.1977629   0.52523586 -0.75533167  2.40349827
 -2.14664264 -1.4775607  -0.36043189  0.37623491 -0.82705171  1.2043158
  1.39048091  0.32901314 -0.09738094  0.23899278  0.87789714 -0.74448809
  2.63210908 -0.39174448  0.56750261 -0.1000893   1.78873665 -0.7952196
  0.5909842   0.82724     0.48709316  0.86508115 -1.80045485 -0.96029144
  1.28439921  0.80516708  1.20683025  0.35954983  0.97973775 -1.78609182
 -2.33404353  0.1733365   0.92130324 -2.79865565  0.85538042 -0.32551237
 -0.35969885  1.39217747 -0.82489162  0.71259401  1.19801235 -0.13421906
 -0.03350917 -0.02517506  0.04479399  1.35043001  0.05185273 -1.15801209
  0.19735922  0.46547365 -1.03513166 -0.30112233 -1.6714471   1.95541673
  0.52869621 -0.74271858 -0.05073006 -1.55858287 -0.04556001  0.63362797
  0.29288305  0.47632665  2.04002285  1.70498104 -0.66846605  0.38995656
  1.51242381  0.47863895  0.1849482  -0.33491874 -1.26073326 -0.96658071
  0.90147545 -0.77884959 -0.90576879  0.8458178   1.13840307 -0.89576077
 -0.5496274   0.08277358  0.57822716  3.44398417 -0.12579278 -1.01366233
  0.02503878  0.94020374 -0.81340753 -2.1793472   0.24191991 -0.55590556
  1.22186336  0.6454536   0.81738295  0.31456219 -1.32090095 -0.26802588
 -0.46836618 -0.06135304  1.14000478  0.06168164 -0.26090392 -0.5267753
 -1.01220557  0.6067585  -0.62828377  0.31011211 -0.30594536 -0.88860636
  1.44810532  0.38537089 -1.10967974  0.27730102 -0.1549545   0.07472531
 -1.22619679 -0.2453424  -1.79443202 -1.55738679 -0.29766924  0.09601756
 -1.38818174 -2.51422242  0.23086855 -0.43561046  0.66054258 -0.40527005
 -1.15832765 -0.72482504 -1.74165859 -0.3705727  -1.13919098 -1.52215558
  0.23527871  0.24207072 -1.16638053  1.45475391  1.32367029  0.63750387
  0.34384894  0.71985839  0.35208035 -2.30492429  1.71602815  0.42170186
  1.82290014  1.4100354   0.28902639 -1.16211057  1.48349769  1.41882957
  2.11313376  1.28485131 -0.43507727 -0.85600246 -0.08987055 -0.50736684
  0.01423551 -1.00584963 -0.88553845 -0.41189599 -0.27132718  0.12567088
 -0.97990599  1.42251326  1.08542376 -0.6479666  -0.21396694 -1.58268498
 -0.21239817  1.0445865   0.13485741 -0.16163435 -0.25205391 -0.21855109
 -0.02429913 -0.76449093 -0.90832245  0.4760762   0.55167323  0.67750181
  1.83752422  1.38894624 -1.21976634 -0.56485976  0.22381807 -0.85506691
  0.45001609 -0.79259713 -1.12430074 -0.33787738 -0.40529942 -0.92918446
 -0.12755648 -0.86272224  0.54323331  0.36224716 -0.06502576  0.63096293
 -0.50381022  0.66150367 -0.18634527 -0.71168016  0.04311009 -0.91803737
  1.03651274 -0.85463646 -2.2925512   0.02533386  1.93725363 -0.43281411
  0.24059434  0.34751271 -0.94887944  2.24066108 -0.66832084 -0.88793143
 -0.21567765  0.39396238  0.00831455  0.1513238   1.33734033  1.43132017

In [29]:
print(pd.qcut(data, [0, 0.1, 0.5, 0.9, 1.]).value_counts())
print()
print(pd.qcut(data_5, [0, 0.1, 0.5, 0.9, 1.]).value_counts())

(-2.945, -1.209]    100
(-1.209, 0.0329]    400
(0.0329, 1.221]     400
(1.221, 3.216]      100
Name: count, dtype: int64

(-2.8, -1.177]        40
(-1.177, -0.0247]    160
(-0.0247, 1.389]     160
(1.389, 3.444]        40
Name: count, dtype: int64

El segundo argumento `[0, 0.1, 0.5, 0.9, 1.]` especifica los puntos de corte para los cuantiles.  
Estos puntos de corte son porcentajes que indican cómo se deben dividir los datos.  

`0` corresponde al valor mínimo.  
`0.1` corresponde al percentil 10 (el valor por debajo del cual se encuentra el 10% de los datos).  
`0.5` corresponde al percentil 50 (la mediana).  
`0.9` corresponde al percentil 90 (el valor por debajo del cual se encuentra el 90% de los datos).  
`1.` corresponde al valor máximo.

# Fin Clase 72

### Detección y filtrado de valores atípicos (outliers)

Filtrar o transformar los valores atípicos es en gran medida una cuestión de aplicar operaciones de arrays. Considere un DataFrame con algunos datos distribuidos normalmente:

In [45]:
import numpy as np
import pandas as pd
from scipy import stats

# Configurar la semilla para reproducibilidad
np.random.seed(0)

# Crear un DataFrame con datos distribuidos normalmente
data = np.random.normal(loc=0, scale=1, size=(100, 3))  # 100 filas y 3 columnas
df = pd.DataFrame(data, columns=['A', 'B', 'C'])

print("Original DataFrame:")
print(df.head())

# Paso 1: Calcular el Z-Score para identificar outliers
z_scores = np.abs(stats.zscore(df))

# Definir un umbral para considerar un valor como outlier
threshold = 3

# Identificar valores atípicos
outliers = (z_scores > threshold)

print("\nZ-Scores:")
print(z_scores[:5])  # Mostrar las primeras 5 filas para verificar

print("\nOutliers (boolean mask):")
print(outliers[:5])  # Mostrar las primeras 5 filas para verificar

Original DataFrame:
          A         B         C
0  1.764052  0.400157  0.978738
1  2.240893  1.867558 -0.977278
2  0.950088 -0.151357 -0.103219
3  0.410599  0.144044  1.454274
4  0.761038  0.121675  0.443863

Z-Scores:
          A         B         C
0  1.621322  0.299284  1.130061
1  2.086064  1.793542  0.874086
2  0.828011  0.262324  0.021481
3  0.302210  0.038483  1.617298
4  0.643758  0.015705  0.582025

Outliers (boolean mask):
       A      B      C
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False
4  False  False  False