In [2]:

import numpy as np
import pandas as pd

psg_players = pd.Series(['Navas', 'Mbappe', 'Neymar', 'Messi'], index=[1,7,10,30])

psg_players

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [3]:
#Pandas, al crear una Series si no se la dan índices los asigna de forma automática

ingredientes = pd.Series(['Jamón', 'Aceitunas', 'Pan', 'Queso'])

ingredientes

0        Jamón
1    Aceitunas
2          Pan
3        Queso
dtype: object

In [4]:
# Se convierte un diccionario e lista
dict = {1: 'Navas', 7: 'Mbappe', 10:'Neymar', 30: 'Messi'}
pd.Series(dict)

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

¿Que pasa si quiero definir un array con mas valores?

In [5]:
dict_1 = {'Jugador': ['Navas', 'Mbappe', 'Neymar', 'Messi'],
'Altura':[183.0, 170.0, 185.0, 165.0],
'Goles': [2, 150,180,200]}

pd.DataFrame(dict_1, index=[1,7,10,30])

   Jugador  Altura  Goles
1    Navas   183.0      2
7   Mbappe   170.0    150
10  Neymar   185.0    180
30   Messi   165.0    200

Sin definir índices

In [6]:
pd.DataFrame(dict_1)

  Jugador  Altura  Goles
0   Navas   183.0      2
1  Mbappe   170.0    150
2  Neymar   185.0    180
3   Messi   165.0    200

In [8]:
df_Players = pd.DataFrame(dict_1)
df_Players

  Jugador  Altura  Goles
0   Navas   183.0      2
1  Mbappe   170.0    150
2  Neymar   185.0    180
3   Messi   165.0    200

In [9]:
df_Players.columns

Index(['Jugador', 'Altura', 'Goles'], dtype='object')

In [10]:
df_Players.index

RangeIndex(start=0, stop=4, step=1)

Si tienes datos contenidos en un diccionario de Python, puedes crear una Series a partir de ellos pasándole el diccionario:

In [11]:
sdata = {"Ohio": 35000, "Texas": 71000, "Oregon": 16000, "Utah": 5000}
obj3 = pd.Series(sdata)
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

Una Series puede convertirse de nuevo en un diccionario con su método to_dict :

In [12]:
obj3.to_dict()

{'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

Puede anular esto pasando un índice con las claves del diccionario en el orden en que desea que aparezcan en la Series resultante:

In [13]:
sdata = {"Ohio": 35000, "Texas": 71000, "Oregon": 16000, "Utah": 5000}
states = ["California", "Ohio", "Oregon", "Texas"]
obj4 = pd.Series(sdata, index=states)
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

Aquí, tres valores encontrados en sdata se colocaron en los lugares apropiados, pero como no se encontró ningún valor para "California", aparece como NaN (Not a Number), que se
considera en pandas para marcar valores perdidos o NA. Como "Utah" no se incluyó en estados, se excluye del objeto resultante.
Utilizaremos los términos "missing", "NA" (Not Available) o "null" indistintamente para referirnos a los datos que faltan. Las funciones isna y notna de pandas deben utilizarse para
detectar datos omitidos:

In [14]:
pd.isna(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [16]:
pd.notna(obj4)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool