# Ejercicios Pandas Series

In [1]:
# Importa el paquete numpy con el nombre np
import numpy as np



# Importa el paquete pandas con el nombre pd
import pandas as pd


# Imprime la versión de pandas y la configuración

print(pd.__version__)

import pandas as pd

# Mostrar toda la configuración de pandas
pd.options.display.max_rows = 60
pd.describe_option()

2.2.2
compute.use_bottleneck : bool
    Use the bottleneck library to accelerate if it is installed,
    the default is True
    Valid values: False,True
    [default: True] [currently: True]
compute.use_numba : bool
    Use the numba engine option for select operations if it is installed,
    the default is False
    Valid values: False,True
    [default: False] [currently: False]
compute.use_numexpr : bool
    Use the numexpr library to accelerate computation if it is installed,
    the default is True
    Valid values: False,True
    [default: True] [currently: True]
display.chop_threshold : float or None
    if set to a float value, all float values smaller than the given threshold
    will be displayed as exactly 0 by repr and friends.
    [default: None] [currently: None]
display.colheader_justify : 'left'/'right'
    Controls the justification of column headers. used by DataFrameFormatter.
    [default: right] [currently: right]
display.date_dayfirst : boolean
    When True, prints and parses dates with the day first, eg 20/01/2005
    [default: False] [currently: False]
display.date_yearfirst : boolean
    When True, prints and parses dates with the year first, eg 2005/01/20
    [default: False] [currently: False]
display.encoding : str/unicode
    Defaults to the detected encoding of the console.
    Specifies the encoding to be used for strings returned by to_string,
    these are generally strings meant to be displayed on the console.
    [default: UTF-8] [currently: UTF-8]
display.expand_frame_repr : boolean
    Whether to print out the full DataFrame repr for wide DataFrames across
    multiple lines, `max_columns` is still respected, but the output will
    wrap-around across multiple "pages" if its width exceeds `display.width`.
    [default: True] [currently: True]
display.float_format : callable
    The callable should accept a floating point number and return
    a string with the desired format of the number. This is used
    in some places like SeriesFormatter.
    See formats.format.EngFormatter for an example.
    [default: None] [currently: None]
display.html.border : int
    A ``border=value`` attribute is inserted in the ``<table>`` tag
    for the DataFrame HTML repr.
    [default: 1] [currently: 1]
display.html.table_schema : boolean
    Whether to publish a Table Schema representation for frontends
    that support it.
    (default: False)
    [default: False] [currently: False]
display.html.use_mathjax : boolean
    When True, Jupyter notebook will process table contents using MathJax,
    rendering mathematical expressions enclosed by the dollar symbol.
    (default: True)
    [default: True] [currently: True]
display.large_repr : 'truncate'/'info'
    For DataFrames exceeding max_rows/max_cols, the repr (and HTML repr) can
    show a truncated table, or switch to the view from
    df.info() (the behaviour in earlier versions of pandas).
    [default: truncate] [currently: truncate]
display.max_categories : int
    This sets the maximum number of categories pandas should output when
    printing out a `Categorical` or a Series of dtype "category".
    [default: 8] [currently: 8]
display.max_columns : int
    If max_cols is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 or None and pandas will auto-detect
    the width of the terminal and print a truncated object which fits
    the screen width. The IPython notebook, IPython qtconsole, or IDLE
    do not run in a terminal and hence it is not possible to do
    correct auto-detection and defaults to 20.
    [default: 20] [currently: 20]
display.max_colwidth : int or None
    The maximum width in characters of a column in the repr of
    a pandas data structure. When the column overflows, a "..."
    placeholder is embedded in the output. A 'None' value means unlimited.
    [default: 50] [currently: 50]
display.max_dir_items : int
    The number of items that will be added to `dir(...)`. 'None' value means
    unlimited. Because dir is cached, changing this option will not immediately
    affect already existing dataframes until a column is deleted or added.

    This is for instance used to suggest columns from a dataframe to tab
    completion.
    [default: 100] [currently: 100]
display.max_info_columns : int
    max_info_columns is used in DataFrame.info method to decide if
    per column information will be printed.
    [default: 100] [currently: 100]
display.max_info_rows : int
    df.info() will usually show null-counts for each column.
    For large frames this can be quite slow. max_info_rows and max_info_cols
    limit this null check only to frames with smaller dimensions than
    specified.
    [default: 1690785] [currently: 1690785]
display.max_rows : int
    If max_rows is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the height of the terminal and print a truncated object which fits
    the screen height. The IPython notebook, IPython qtconsole, or
    IDLE do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 60] [currently: 60]
display.max_seq_items : int or None
    When pretty-printing a long sequence, no more then `max_seq_items`
    will be printed. If items are omitted, they will be denoted by the
    addition of "..." to the resulting string.

    If set to None, the number of items to be printed is unlimited.
    [default: 100] [currently: 100]
display.memory_usage : bool, string or None
    This specifies if the memory usage of a DataFrame should be displayed when
    df.info() is called. Valid values True,False,'deep'
    [default: True] [currently: True]
display.min_rows : int
    The numbers of rows to show in a truncated view (when `max_rows` is
    exceeded). Ignored when `max_rows` is set to None or 0. When set to
    None, follows the value of `max_rows`.
    [default: 10] [currently: 10]
display.multi_sparse : boolean
    "sparsify" MultiIndex display (don't display repeated
    elements in outer levels within groups)
    [default: True] [currently: True]
display.notebook_repr_html : boolean
    When True, IPython notebook will use html representation for
    pandas objects (if it is available).
    [default: True] [currently: True]
display.pprint_nest_depth : int
    Controls the number of nested levels to process when pretty-printing
    [default: 3] [currently: 3]
display.precision : int
    Floating point output precision in terms of number of places after the
    decimal, for regular formatting as well as scientific notation. Similar
    to ``precision`` in :meth:`numpy.set_printoptions`.
    [default: 6] [currently: 6]
display.show_dimensions : boolean or 'truncate'
    Whether to print out dimensions at the end of DataFrame repr.
    If 'truncate' is specified, only print out the dimensions if the
    frame is truncated (e.g. not display all rows and/or columns)
    [default: truncate] [currently: truncate]
display.unicode.ambiguous_as_wide : boolean
    Whether to use the Unicode East Asian Width to calculate the display text
    width.
    Enabling this may affect to the performance (default: False)
    [default: False] [currently: False]
display.unicode.east_asian_width : boolean
    Whether to use the Unicode East Asian Width to calculate the display text
    width.
    Enabling this may affect to the performance (default: False)
    [default: False] [currently: False]
display.width : int
    Width of the display in characters. In case python/IPython is running in
    a terminal this can be set to None and pandas will correctly auto-detect
    the width.
    Note that the IPython notebook, IPython qtconsole, or IDLE do not run in a
    terminal and hence it is not possible to correctly detect the width.
    [default: 80] [currently: 80]
future.infer_string Whether to infer sequence of str objects as pyarrow string dtype, which will be the default in pandas 3.0 (at which point this option will be deprecated).
    [default: False] [currently: False]
future.no_silent_downcasting Whether to opt-in to the future behavior which will *not* silently downcast results from Series and DataFrame `where`, `mask`, and `clip` methods. Silent downcasting will be removed in pandas 3.0 (at which point this option will be deprecated).
    [default: False] [currently: False]
io.excel.ods.reader : string
    The default Excel reader engine for 'ods' files. Available options:
    auto, odf, calamine.
    [default: auto] [currently: auto]
io.excel.ods.writer : string
    The default Excel writer engine for 'ods' files. Available options:
    auto, odf.
    [default: auto] [currently: auto]
io.excel.xls.reader : string
    The default Excel reader engine for 'xls' files. Available options:
    auto, xlrd, calamine.
    [default: auto] [currently: auto]
io.excel.xlsb.reader : string
    The default Excel reader engine for 'xlsb' files. Available options:
    auto, pyxlsb, calamine.
    [default: auto] [currently: auto]
io.excel.xlsm.reader : string
    The default Excel reader engine for 'xlsm' files. Available options:
    auto, xlrd, openpyxl, calamine.
    [default: auto] [currently: auto]
io.excel.xlsm.writer : string
    The default Excel writer engine for 'xlsm' files. Available options:
    auto, openpyxl.
    [default: auto] [currently: auto]
io.excel.xlsx.reader : string
    The default Excel reader engine for 'xlsx' files. Available options:
    auto, xlrd, openpyxl, calamine.
    [default: auto] [currently: auto]
io.excel.xlsx.writer : string
    The default Excel writer engine for 'xlsx' files. Available options:
    auto, openpyxl, xlsxwriter.
    [default: auto] [currently: auto]
io.hdf.default_format : format
    default format writing format, if None, then
    put will default to 'fixed' and append will default to 'table'
    [default: None] [currently: None]
io.hdf.dropna_table : boolean
    drop ALL nan rows when appending to a table
    [default: False] [currently: False]
io.parquet.engine : string
    The default parquet reader/writer engine. Available options:
    'auto', 'pyarrow', 'fastparquet', the default is 'auto'
    [default: auto] [currently: auto]
io.sql.engine : string
    The default sql reader/writer engine. Available options:
    'auto', 'sqlalchemy', the default is 'auto'
    [default: auto] [currently: auto]
mode.chained_assignment : string
    Raise an exception, warn, or no action if trying to use chained assignment,
    The default is warn
    [default: warn] [currently: warn]
mode.copy_on_write : bool
    Use new copy-view behaviour using Copy-on-Write. Defaults to False,
    unless overridden by the 'PANDAS_COPY_ON_WRITE' environment variable
    (if set to "1" for True, needs to be set before pandas is imported).
    [default: False] [currently: False]
mode.data_manager : string
    Internal data manager type; can be "block" or "array". Defaults to "block",
    unless overridden by the 'PANDAS_DATA_MANAGER' environment variable (needs
    to be set before pandas is imported).
    [default: block] [currently: block]
    (Deprecated, use `` instead.)
mode.sim_interactive : boolean
    Whether to simulate interactive mode for purposes of testing
    [default: False] [currently: False]
mode.string_storage : string
    The default storage for StringDtype. This option is ignored if
    ``future.infer_string`` is set to True.
    [default: python] [currently: python]
mode.use_inf_as_na : boolean
    True means treat None, NaN, INF, -INF as NA (old way),
    False means None and NaN are null, but INF, -INF are not NA
    (new way).

    This option is deprecated in pandas 2.1.0 and will be removed in 3.0.
    [default: False] [currently: False]
    (Deprecated, use `` instead.)
plotting.backend : str
    The plotting backend to use. The default value is "matplotlib", the
    backend provided with pandas. Other backends can be specified by
    providing the name of the module that implements the backend.
    [default: matplotlib] [currently: matplotlib]
plotting.matplotlib.register_converters : bool or 'auto'.
    Whether to register converters with matplotlib's units registry for
    dates, times, datetimes, and Periods. Toggling to False will remove
    the converters, restoring any converters that pandas overwrote.
    [default: auto] [currently: auto]
styler.format.decimal : str
    The character representation for the decimal separator for floats and complex.
    [default: .] [currently: .]
styler.format.escape : str, optional
    Whether to escape certain characters according to the given context; html or latex.
    [default: None] [currently: None]
styler.format.formatter : str, callable, dict, optional
    A formatter object to be used as default within ``Styler.format``.
    [default: None] [currently: None]
styler.format.na_rep : str, optional
    The string representation for values identified as missing.
    [default: None] [currently: None]
styler.format.precision : int
    The precision for floats and complex numbers.
    [default: 6] [currently: 6]
styler.format.thousands : str, optional
    The character representation for thousands separator for floats, int and complex.
    [default: None] [currently: None]
styler.html.mathjax : bool
    If False will render special CSS classes to table attributes that indicate Mathjax
    will not be used in Jupyter Notebook.
    [default: True] [currently: True]
styler.latex.environment : str
    The environment to replace ``\begin{table}``. If "longtable" is used results
    in a specific longtable environment format.
    [default: None] [currently: None]
styler.latex.hrules : bool
    Whether to add horizontal rules on top and bottom and below the headers.
    [default: False] [currently: False]
styler.latex.multicol_align : {"r", "c", "l", "naive-l", "naive-r"}
    The specifier for horizontal alignment of sparsified LaTeX multicolumns. Pipe
    decorators can also be added to non-naive values to draw vertical
    rules, e.g. "\|r" will draw a rule on the left side of right aligned merged cells.
    [default: r] [currently: r]
styler.latex.multirow_align : {"c", "t", "b"}
    The specifier for vertical alignment of sparsified LaTeX multirows.
    [default: c] [currently: c]
styler.render.encoding : str
    The encoding used for output HTML and LaTeX files.
    [default: utf-8] [currently: utf-8]
styler.render.max_columns : int, optional
    The maximum number of columns that will be rendered. May still be reduced to
    satisfy ``max_elements``, which takes precedence.
    [default: None] [currently: None]
styler.render.max_elements : int
    The maximum number of data-cell (<td>) elements that will be rendered before
    trimming will occur over columns, rows or both if needed.
    [default: 262144] [currently: 262144]
styler.render.max_rows : int, optional
    The maximum number of rows that will be rendered. May still be reduced to
    satisfy ``max_elements``, which takes precedence.
    [default: None] [currently: None]
styler.render.repr : str
    Determine which output to use in Jupyter Notebook in {"html", "latex"}.
    [default: html] [currently: html]
styler.sparse.columns : bool
    Whether to sparsify the display of hierarchical columns. Setting to False will
    display each explicit level element in a hierarchical key for each column.
    [default: True] [currently: True]
styler.sparse.index : bool
    Whether to sparsify the display of a hierarchical index. Setting to False will
    display each explicit level element in a hierarchical key for each row.
    [default: True] [currently: True]

##  (a) Creando una `Series`

### 1) Crear una serie pandas vacía

In [2]:
# your code goes here
serie_vacia = pd.Series()

# Imprimir la serie vacía
print(serie_vacia)

Series([], dtype: object)

### 2) Dada la lista X de Python conviértala en una serie Y de Pandas

In [19]:
# your code goes here

import pandas as pd

# Lista de Python
X = [10, 20, 35, 45, 55]

Y = pd.Series(X)

# Imprimir la serie
print(f"Esta serie 'Y' de pandas se formó de lista 'X':\n{Y}")

Esta serie 'Y' de pandas se formó de lista 'X':
0    10
1    20
2    35
3    45
4    55
dtype: int64

### 3) Dada la serie X pandas, nómbrala 'My letters'.

In [4]:
# your code goes here

X = pd.Series(['a', 'b', 'c', 'd', 'e'])

X.name = 'My letters'

print(X)

0    a
1    b
2    c
3    d
4    e
Name: My letters, dtype: object

### 4) Dada la serie X de pandas, muestre sus valores

In [9]:
# your code goes here

X = pd.Series([2500, 3500, 1500], index=['Reinaldo', 'Carlos', 'Fernando'])

print('SERIE')
print(X)
print();
print('VALORES')
print(X.values)

SERIE
Reinaldo    2500
Carlos      3500
Fernando    1500
dtype: int64

VALORES
[2500 3500 1500]

## (b) Indexación de Series

### 5) Asignar nombres de índice a las Series X  de pandas dadas

In [10]:
# your code goes here

import pandas as pd

# Crear una serie de pandas
X = pd.Series(['Reinaldo', 'Fernando', 'Jorge', 'Oscar'])

# Asignar nombres de índice a la serie
X.index = [1, 2, 3, 4]

print(X)

1    Reinaldo
2    Fernando
3       Jorge
4       Oscar
dtype: object

### 6) Dada la serie X de pandas, muestre su primer elemento

In [13]:
# your code goes here
X = pd.Series(['Elemento_1', 'Elemento_2', 'Elemento_3', 'Elemento_4', 'Elemento_5'])

print(f"El Primer elemento de la serie 'X' es '{X.iloc[0]}'")

El Primer elemento de la serie es 'Elemento_1'

### 7) Dada la serie X de pandas, muestra su último elemento

In [14]:
# your code goes here

X = pd.Series(['Elemento_1', 'Elemento_2', 'Elemento_3', 'Elemento_4', 'Elemento_5'])

print(f"El Ultimo elemento de la serie 'X' es '{X.iloc[-1]}'")
import pandas as pd

El Ultimo elemento de la serie 'X' es 'Elemento_5'

### 8) Dada la serie X pandas, mostrar todos los elementos centrales

In [16]:
# your code goes here

X = pd.Series(['a', 'b', 'c', 'd', 'e'])

print(f"Elementos centrales de la serie 'X': \n{X.iloc[1:-1]}")

Elementos centrales de la serie 'X':
1    b
2    c
3    d
dtype: object

### 9) Dada la serie X de pandas, muestre los elementos en posición inversa

In [20]:
# your code goes here

X = pd.Series(['e', 'd', 'c', 'b', 'a'])

X.iloc[::-1]
print(f"Elementos de la Serie 'X' en posición iversa:\n{X.iloc[::-1]}")

Elementos de la Serie 'X' en posición iversa:
4    a
3    b
2    c
1    d
0    e
dtype: object

### 10) Dada la serie X de pandas, muestre el primer y el último elemento

In [21]:
# your code goes here

X = pd.Series(['Oscar', 'Jorge', 'Fernando', 'Reinaldo'])

print(f"Primer Elemento de la Serie 'X': {X.iloc[0]}\nÚltimo Elemento de la Serie 'X': {X.iloc[-1]}")

Primer Elemento de la Serie 'X': Oscar
Último Elemento de la Serie 'X': Reinaldo

## (c) 'Manipulanción' de `Series`

### 11) Convierte la serie pandas entera dada a float

In [25]:
# your code goes here


X = pd.Series([10, 20, 60, 80, 150])

print(f"Serie: 'X' de 'Enteros'\n{X}\nSerie 'X' convertida en 'Float:\n{X.astype(float)}'")

Serie: 'X' de 'Enteros'
0     10
1     20
2     60
3     80
4    150
dtype: int64
Serie 'X' convertida en 'Float:
0     10.0
1     20.0
2     60.0
3     80.0
4    150.0
dtype: float64'

### 12) Invierte la serie de pandas dada (el primer elemento se convierte en el último)

In [27]:
# your code goes here

X = pd.Series(['a', 'b', 'c', 'd', 'e'])

print(f"Serie Normal de 'X':\n{X}\nSerie de 'X' invertida:\n{X.iloc[::-1]}")

Serie Normal de 'X':
0    a
1    b
2    c
3    d
4    e
dtype: object
Serie de 'X' invertida:
4    e
3    d
2    c
1    b
0    a
dtype: object

### 13) Ordenar (sort) las series de pandas dadas

In [31]:
# your code goes here

X = pd.Series(['Pancho','Lorenzo', 'José', 'Armando', 'Raul'])

X_por_valor = X.sort_values()
X_por_indice = X.sort_index()

print("Serie 'X' ordenada por valor:")
print(X_por_valor)
print()
print("Serie 'X' ordenada por índice:")
print(X_por_indice)

Serie 'X' ordenada por valor:
3    Armando
2       José
1    Lorenzo
0     Pancho
4       Raul
dtype: object

Serie 'X' ordenada por índice:
0     Pancho
1    Lorenzo
2       José
3    Armando
4       Raul
dtype: object

### 14) Dada la serie X de pandas, establece (set) el quinto elemento igual a 10

In [34]:
# your code goes here

X = pd.Series([6, 7, 8, 9, 1, 12, 13, 14, 15])
print("Serie original:")
print(X)
print()
X.iloc[4] = 10
print("Se cambió el quinto elemento por '10':")
print(X)

Serie original:
0     6
1     7
2     8
3     9
4     1
5    12
6    13
7    14
8    15
dtype: int64

Se cambió el quinto elemento por '10':
0     6
1     7
2     8
3     9
4    10
5    12
6    13
7    14
8    15
dtype: int64

### 15) Dada la serie X de pandas, cambia todos los elementos del medio (centrales) a 0

In [42]:
# your code goes here

X = pd.Series([1, 2, 3, 4, 5, 6])
print("Serie original:")
print(X)
print()

ini = (len(X) - 1) // 2   # Índice del primer elemento central
fin = (len(X) + 2) // 2  # Índice del último elemento central

X.iloc[ini:fin] = 0
print("Elementos centrales 'se igualaron a cero':")
print(X)

Serie original:
0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

Elementos centrales 'se igualaron a cero':
0    1
1    2
2    0
3    0
4    5
5    6
dtype: int64

### 16) Dada la serie X de pandas, suma 5 a cada elemento

In [44]:
# your code goes here

X = pd.Series([15, 25, 35, 45, 55])

print(f"Serie 'X' + 5 es igual a:\n{X + 5}")

Serie 'X' + 5 es igual a:
0    20
1    30
2    40
3    50
4    60
dtype: int64

## (d) `Series` de tipo 'Boolean Arrays' (también llamadas mask)

### 17) Dada la serie X de pandas, haz una máscara (mask) que muestre los elementos negativos

In [48]:
# your code goes here
X = pd.Series([1, -2, 3, -4, 5, -6])

negativos = X < 0

negativos = X[negativos]

print(negativos)

1   -2
3   -4
5   -6
dtype: int64

### 18) Dada la serie X de pandas, obtener los elementos negativos

In [49]:
# your code goes here
X = pd.Series([1, -2, 3, -4, 5, -6])

negativos = X[X < 0]

print(negativos)

1   -2
3   -4
5   -6
dtype: int64

### 19) Dada la serie X pandas, obtener números superiores a 5

In [51]:
X = pd.Series([17, 1, 3, 81, 52, 2, 73])


superior_a_5 = X[X > 5]

print("Elementos superiores a '5':")
print(superior_a_5)

Elementos superiores a '5':
0    17
3    81
4    52
6    73
dtype: int64

### 20) Dada la serie X pandas, obtener números superiores a la media de los elementos

In [53]:
X = pd.Series([10, 60, 30, 80, 50, 20, 70])

media = X.mean()

superior_media= X[X > media]

print(f"Media: {media:.3f}")
print("Números superiores a la media:")
print(superior_media)

Media: 45.714
Números superiores a la media:
1    60
3    80
4    50
6    70
dtype: int64

### 21) Dada la serie X pandas, obtener números iguales a 2 o 10

In [54]:
X = pd.Series([11, 65, 2, 8, 10, 2, 7, 10, 4])

a_2_o_10 = X[(X == 2) | (X == 10)]

print("Números iguales a 2 o 10:")
print(a_2_o_10)

Números iguales a 2 o 10:
2     2
4    10
5     2
7    10
dtype: int64

##  (e) Funciones de tipo 'Logic'

### 22) Dada la serie X de pandas, devuelve True si ninguno de sus elementos es cero

In [55]:
# your code goes here
X = pd.Series([1, 6, 9, 8, 5])


no_cero = (X != 0).all()


print(no_cero)

True

### 23) Dada la serie X de pandas, devuelve True si alguno de sus elementos es cero

In [56]:
# your code goes here

X = pd.Series([1, 4, 3, 0, 8, 1])

es_cero = (X == 0).any()

print(es_cero)

True

## (f) Algunas funciones estadísticas

### 24) Dada la serie X de pandas, muestra la suma de sus elementos

In [57]:
# your code goes here

X = pd.Series([1, 61, 32, 0, 84, 51])


print(f"La suma de los elementos de la serie 'X' es: {X.sum()}")

La suma de los elementos de la serie 'X' es: 229

### 25) Dada la serie X de pandas, muestre el valor medio de sus elementos

In [59]:
# your code goes here


X = pd.Series([1, 6, 3, 0, 8, 5])

media = X.mean()


print(f"El valor medio de los elementos de la serie 'X' es: {X.mean():.3f}")

El valor medio de los elementos de la serie 'X' es: 3.833

### 26) Dada la serie X de pandas, muestre el valor máximo de sus elementos

In [60]:
# your code goes here

X = pd.Series([19, 61, 3, 100, 800, 50])

print(f"El valor máximo de los elementos de la serie 'X' es: {X.max()}")

El valor máximo de los elementos de la serie 'X' es: 800