# Practica 39 - Operaciones con pandas sobre un 'json nested'

## Analizar con pandas el archivo anidado `companies.json`

### Rehacer los códigos del notebook `JSON_Limpiar.ipynb` a partir de la `Sección 2- Análisis JSON anidado con Pandas` Desde la celda de código 25.
- Añadir algunos cálculos de estadísticas descriptivas básicas (todos los que ud. quiera) sobre el dataframe final y guardar en otro dataframe dichos cálculos estádisticos. De forma opcional añada algunos 'plots' con matplotlib si quiere.

In [8]:
import json

with open('companies.json', 'r') as file:
    data_json = json.load(file)

#Convertir el diccionario en una celda JSON  
data_str = json.dumps(data_json, indent=4)
print(data_str)

{
    "companies": [
        {
            "company": "Tech Solutions",
            "employees": [
                {
                    "name": "John Doe",
                    "age": 30,
                    "address": {
                        "street": "123 Main St",
                        "city": "New York",
                        "zipcode": "10001"
                    },
                    "skills": [
                        "Python",
                        "Data Analysis"
                    ],
                    "salary": 3450
                },
                {
                    "name": "Jane Smith",
                    "age": 25,
                    "address": {
                        "street": "456 Market St",
                        "city": "San Francisco",
                        "zipcode": "94105"
                    },
                    "skills": [
                        "JavaScript",
                        "React"
                    ],
                    "salary": 2800
                },
                {
                    "name": "Mike Johnson",
                    "age": 35,
                    "address": {
                        "street": "789 Broadway",
                        "city": "Los Angeles",
                        "zipcode": "90015"
                    },
                    "skills": [
                        "Java",
                        "Spring"
                    ],
                    "salary": 4200
                }
            ]
        },
        {
            "company": "Innovative Apps",
            "employees": [
                {
                    "name": "Alice Brown",
                    "age": 28,
                    "address": {
                        "street": "101 First Ave",
                        "city": "Seattle",
                        "zipcode": "98101"
                    },
                    "skills": [
                        "Ruby",
                        "Rails"
                    ],
                    "salary": 3100
                },
                {
                    "name": "Bob White",
                    "age": 32,
                    "address": {
                        "street": "202 Second Ave",
                        "city": "Austin",
                        "zipcode": "73301"
                    },
                    "skills": [
                        "PHP",
                        "Laravel"
                    ],
                    "salary": 2300
                }
            ]
        },
        {
            "company": "Cloud Services",
            "employees": [
                {
                    "name": "Charlie Green",
                    "age": 29,
                    "address": {
                        "street": "303 Third St",
                        "city": "Chicago",
                        "zipcode": "60601"
                    },
                    "skills": [
                        "AWS",
                        "Azure"
                    ],
                    "salary": 3700
                },
                {
                    "name": "Dana Blue",
                    "age": 27,
                    "address": {
                        "street": "404 Fourth St",
                        "city": "Miami",
                        "zipcode": "33101"
                    },
                    "skills": [
                        "GCP",
                        "Docker"
                    ],
                    "salary": 2700
                }
            ]
        },
        {
            "company": "AI Innovations",
            "employees": [
                {
                    "name": "Eva Black",
                    "age": 33,
                    "address": {
                        "street": "505 Fifth Ave",
                        "city": "Boston",
                        "zipcode": "02101"
                    },
                    "skills": [
                        "TensorFlow",
                        "Keras"
                    ],
                    "salary": 4500
                },
                {
                    "name": "Frank White",
                    "age": 36,
                    "address": {
                        "street": "606 Sixth Ave",
                        "city": "Denver",
                        "zipcode": "80201"
                    },
                    "skills": [
                        "PyTorch",
                        "SciKit-Learn"
                    ],
                    "salary": 5100
                }
            ]
        },
        {
            "company": "Cyber Security Inc",
            "employees": [
                {
                    "name": "George Brown",
                    "age": 31,
                    "address": {
                        "street": "707 Seventh St",
                        "city": "Houston",
                        "zipcode": "77001"
                    },
                    "skills": [
                        "Network Security",
                        "Penetration Testing"
                    ],
                    "salary": 3900
                },
                {
                    "name": "Hannah White",
                    "age": 26,
                    "address": {
                        "street": "808 Eighth St",
                        "city": "Dallas",
                        "zipcode": "75201"
                    },
                    "skills": [
                        "Cryptography",
                        "SIEM"
                    ],
                    "salary": 3400
                }
            ]
        },
        {
            "company": "Fintech Solutions",
            "employees": [
                {
                    "name": "Ivan Black",
                    "age": 30,
                    "address": {
                        "street": "909 Ninth Ave",
                        "city": "Charlotte",
                        "zipcode": "28201"
                    },
                    "skills": [
                        "Blockchain",
                        "Smart Contracts"
                    ],
                    "salary": 3600
                },
                {
                    "name": "Judy White",
                    "age": 28,
                    "address": {
                        "street": "1010 Tenth Ave",
                        "city": "Orlando",
                        "zipcode": "32801"
                    },
                    "skills": [
                        "Finance",
                        "Machine Learning"
                    ],
                    "salary": 2900
                }
            ]
        },
        {
            "company": "Healthcare IT",
            "employees": [
                {
                    "name": "Kyle Brown",
                    "age": 34,
                    "address": {
                        "street": "1111 Eleventh Ave",
                        "city": "Philadelphia",
                        "zipcode": "19101"
                    },
                    "skills": [
                        "EMR",
                        "EHR"
                    ],
                    "salary": 4300
                },
                {
                    "name": "Laura White",
                    "age": 29,
                    "address": {
                        "street": "1212 Twelfth Ave",
                        "city": "Phoenix",
                        "zipcode": "85001"
                    },
                    "skills": [
                        "HL7",
                        "FHIR"
                    ],
                    "salary": 3200
                }
            ]
        },
        {
            "company": "E-commerce Experts",
            "employees": [
                {
                    "name": "Mike Brown",
                    "age": 32,
                    "address": {
                        "street": "1313 Thirteenth Ave",
                        "city": "San Diego",
                        "zipcode": "92101"
                    },
                    "skills": [
                        "Magento",
                        "Shopify"
                    ],
                    "salary": 2900
                },
                {
                    "name": "Nina White",
                    "age": 27,
                    "address": {
                        "street": "1414 Fourteenth Ave",
                        "city": "Portland",
                        "zipcode": "97201"
                    },
                    "skills": [
                        "WooCommerce",
                        "BigCommerce"
                    ],
                    "salary": 3800
                }
            ]
        },
        {
            "company": "Game Development Co",
            "employees": [
                {
                    "name": "Oscar Brown",
                    "age": 30,
                    "address": {
                        "street": "1515 Fifteenth Ave",
                        "city": "Las Vegas",
                        "zipcode": "89101"
                    },
                    "skills": [
                        "Unity",
                        "Unreal Engine"
                    ],
                    "salary": 4800
                },
                {
                    "name": "Pat White",
                    "age": 26,
                    "address": {
                        "street": "1616 Sixteenth Ave",
                        "city": "Salt Lake City",
                        "zipcode": "84101"
                    },
                    "skills": [
                        "Game Design",
                        "3D Modeling"
                    ],
                    "salary": 3600
                }
            ]
        },
        {
            "company": "EdTech Innovations",
            "employees": [
                {
                    "name": "Quinn Brown",
                    "age": 28,
                    "address": {
                        "street": "1717 Seventeenth Ave",
                        "city": "Minneapolis",
                        "zipcode": "55401"
                    },
                    "skills": [
                        "Moodle",
                        "Canvas"
                    ],
                    "salary": 3200
                },
                {
                    "name": "Riley White",
                    "age": 31,
                    "address": {
                        "street": "1818 Eighteenth Ave",
                        "city": "Atlanta",
                        "zipcode": "30301"
                    },
                    "skills": [
                        "Blackboard",
                        "Schoology"
                    ],
                    "salary": 4000
                }
            ]
        }
    ]
}

Cargar el JSON anidado en un DataFrame de Pandas.  

Usaremos `pandas.json_normalize` para aplanar la estructura JSON y cargarla en un DataFrame.

In [55]:
import pandas as pd
import json

# Cargar el JSON desde un archivo (si no lo has hecho ya)
# with open('path_to_your_file.json', 'r') as file:
#     data_json = json.load(file)

# Verifica la estructura del JSON
print(data_json.keys())
print(data_json['companies'][0])

# Paso 1: Normalizar el JSON para obtener las compañías
df_companies = pd.json_normalize(data_json, record_path='companies')

# Paso 2: Explode la lista de empleados para obtener cada empleado en una fila separada
# Primero, necesitamos asegurarnos de que la columna 'employees' sea una lista
df_companies['employees'] = df_companies['employees'].apply(lambda x: x if isinstance(x, list) else [x])

# Explode la columna 'employees'
df_employees_expanded = df_companies.explode('employees')

# Paso 3: Normalizar los datos de los empleados
df_employees = pd.json_normalize(df_employees_expanded['employees'])

# Agregar la columna 'company' al DataFrame de empleados
df_employees['company'] = df_employees_expanded['company'].values

print(df_employees.head())

dict_keys(['companies'])
{'company': 'Tech Solutions', 'employees': [{'name': 'John Doe', 'age': 30, 'address': {'street': '123 Main St', 'city': 'New York', 'zipcode': '10001'}, 'skills': ['Python', 'Data Analysis'], 'salary': 3450}, {'name': 'Jane Smith', 'age': 25, 'address': {'street': '456 Market St', 'city': 'San Francisco', 'zipcode': '94105'}, 'skills': ['JavaScript', 'React'], 'salary': 2800}, {'name': 'Mike Johnson', 'age': 35, 'address': {'street': '789 Broadway', 'city': 'Los Angeles', 'zipcode': '90015'}, 'skills': ['Java', 'Spring'], 'salary': 4200}]}
           name  age                   skills  salary  address.street  \
0      John Doe   30  [Python, Data Analysis]    3450     123 Main St
1    Jane Smith   25      [JavaScript, React]    2800   456 Market St
2  Mike Johnson   35           [Java, Spring]    4200    789 Broadway
3   Alice Brown   28            [Ruby, Rails]    3100   101 First Ave
4     Bob White   32           [PHP, Laravel]    2300  202 Second Ave

    address.city address.zipcode          company
0       New York           10001   Tech Solutions
1  San Francisco           94105   Tech Solutions
2    Los Angeles           90015   Tech Solutions
3        Seattle           98101  Innovative Apps
4         Austin           73301  Innovative Apps

In [11]:
df

,name,age,skills,salary,address.street,address.city,address.zipcode,company
0,John Doe,30,"[Python, Data Analysis]",3450,123 Main St,New York,10001,NaN
1,Jane Smith,25,"[JavaScript, React]",2800,456 Market St,San Francisco,94105,NaN
2,Mike Johnson,35,"[Java, Spring]",4200,789 Broadway,Los Angeles,90015,NaN
3,Alice Brown,28,"[Ruby, Rails]",3100,101 First Ave,Seattle,98101,NaN
4,Bob White,32,"[PHP, Laravel]",2300,202 Second Ave,Austin,73301,NaN
5,Charlie Green,29,"[AWS, Azure]",3700,303 Third St,Chicago,60601,NaN
6,Dana Blue,27,"[GCP, Docker]",2700,404 Fourth St,Miami,33101,NaN
7,Eva Black,33,"[TensorFlow, Keras]",4500,505 Fifth Ave,Boston,02101,NaN
8,Frank White,36,"[PyTorch, SciKit-Learn]",5100,606 Sixth Ave,Denver,80201,NaN
9,George Brown,31,"[Network Security, Penetration Testing]",3900,707 Seventh St,Houston,77001,NaN
10,Hannah White,26,"[Cryptography, SIEM]",3400,808 Eighth St,Dallas,75201,NaN
11,Ivan Black,30,"[Blockchain, Smart Contracts]",3600,909 Ninth Ave,Charlotte,28201,NaN
12,Judy White,28,"[Finance, Machine Learning]",2900,1010 Tenth Ave,Orlando,32801,NaN
13,Kyle Brown,34,"[EMR, EHR]",4300,1111 Eleventh Ave,Philadelphia,19101,NaN
14,Laura White,29,"[HL7, FHIR]",3200,1212 Twelfth Ave,Phoenix,85001,NaN
15,Mike Brown,32,"[Magento, Shopify]",2900,1313 Thirteenth Ave,San Diego,92101,NaN
16,Nina White,27,"[WooCommerce, BigCommerce]",3800,1414 Fourteenth Ave,Portland,97201,NaN
17,Oscar Brown,30,"[Unity, Unreal Engine]",4800,1515 Fifteenth Ave,Las Vegas,89101,NaN
18,Pat White,26,"[Game Design, 3D Modeling]",3600,1616 Sixteenth Ave,Salt Lake City,84101,NaN
19,Quinn Brown,28,"[Moodle, Canvas]",3200,1717 Seventeenth Ave,Minneapolis,55401,NaN
20,Riley White,31,"[Blackboard, Schoology]",4000,1818 Eighteenth Ave,Atlanta,30301,NaN

### Limpieza de datos

Tratamiento de valores perdidos

Tratemos los valores que faltan en nuestro DataFrame. En este ejemplo, no tenemos valores perdidos, pero vamos a demostrar cómo se pueden manejar.

In [47]:
print(df_employees.isna().sum()) # Devuelve un dataFrame donde cada celda contiene 'True' si el valor del DataFrame original es 'NaN'

# Fill missing values with a placeholder or drop rows/columns with missing values
# Example: Fill missing values with 'Unknown'
df.fillna('Unknown', inplace=True) #Reemplaza todos los valores faltantes por 'Unknown' porque 'inplace=True'

name               0
age                0
skills             0
salary             0
address.street     0
address.city       0
address.zipcode    0
company            0
dtype: int64

### Renombrar Columnas

In [48]:
df.rename(columns={
    'address.street': 'street',
    'address.city': 'city',
    'address.zipcode': 'zipcode'
}, inplace=True)
print(df.head())

           name  age  salary          street           city zipcode  \
0      John Doe   30    3450     123 Main St       New York   10001
1    Jane Smith   25    2800   456 Market St  San Francisco   94105
2  Mike Johnson   35    4200    789 Broadway    Los Angeles   90015
3   Alice Brown   28    3100   101 First Ave        Seattle   98101
4     Bob White   32    2300  202 Second Ave         Austin   73301

                                           companies     skill_1  \
0  [{'company': 'Tech Solutions', 'employees': [{...      Python
1  [{'company': 'Tech Solutions', 'employees': [{...  JavaScript
2  [{'company': 'Tech Solutions', 'employees': [{...        Java
3  [{'company': 'Tech Solutions', 'employees': [{...        Ruby
4  [{'company': 'Tech Solutions', 'employees': [{...         PHP

         skill_2
0  Data Analysis
1          React
2         Spring
3          Rails
4        Laravel

In [39]:
# Expandir la columna 'address' en columnas separadas
if 'address' in df_employees.columns:
    df_address = pd.json_normalize(df_employees['address'])
else:
    df_address = pd.DataFrame()

# Expandir la columna 'skills' en columnas separadas
if 'skills' in df_employees.columns:
    df_skills = df_employees['skills'].apply(pd.Series)
else:
    df_skills = pd.DataFrame()

# Combinar los DataFrames
df_final = pd.concat([df_employees.drop(columns=['address', 'skills'], errors='ignore'), df_address, df_skills], axis=1)

# Imprimir el DataFrame final
print(df_final.head())

           name  age  salary  address.street   address.city address.zipcode  \
0      John Doe   30    3450     123 Main St       New York           10001
1    Jane Smith   25    2800   456 Market St  San Francisco           94105
2  Mike Johnson   35    4200    789 Broadway    Los Angeles           90015
3   Alice Brown   28    3100   101 First Ave        Seattle           98101
4     Bob White   32    2300  202 Second Ave         Austin           73301

           company           0              1
0   Tech Solutions      Python  Data Analysis
1   Tech Solutions  JavaScript          React
2   Tech Solutions        Java         Spring
3  Innovative Apps        Ruby          Rails
4  Innovative Apps         PHP        Laravel

### Ampliación de las columnas de la lista

Si tiene columnas con listas (por ejemplo, skills), puede que desee ampliarlas en filas o columnas separadas.

In [46]:
print(df_final.head())

           name  age  salary  address.street   address.city address.zipcode  \
0      John Doe   30    3450     123 Main St       New York           10001
1    Jane Smith   25    2800   456 Market St  San Francisco           94105
2  Mike Johnson   35    4200    789 Broadway    Los Angeles           90015
3   Alice Brown   28    3100   101 First Ave        Seattle           98101
4     Bob White   32    2300  202 Second Ave         Austin           73301

           company           0              1
0   Tech Solutions      Python  Data Analysis
1   Tech Solutions  JavaScript          React
2   Tech Solutions        Java         Spring
3  Innovative Apps        Ruby          Rails
4  Innovative Apps         PHP        Laravel