Pregunta_1: Escribir un programa que pregunte el nombre del usuario por la consola y después de que el usuario 
lo introduzca muestre por la pantalla la cadena ¡Hola <nombre>!, donde <nombre> es el nombre que el usuario haya 
introducido.

In [1]:
Nombre=input("Introduzca su Nombre: ");print("")
print("¡Hola {}".format(Nombre))

¡Hola Reinaldo Díaz Mizos

Pregunta_2: Escribir un programa que muestre por pantalla el resultado dela siguiente operación aritmética:
((3+2)/(2*5))^2

In [3]:
result=((3+2)/(2*5))**2
print("El resultado de ((3+2)/(2*5))^2 es igual a: {:.3f}".format(result))

El resultado de ((3+2)/(2*5))^2 es igual a: 0.250

Pregunta_3: Escribe  un programa que pregunte al usuario  por el número de horas trabajadas y el coste por hora. Después debe mostrar por pantalla la paga que le corresponde.

In [4]:
Horas=float(input("Introduzca horas trabajadas: "))
Coste=float(input("Introduzca el Coste por Horas: "));print("")
Paga = Horas * Coste
print("Su Paga por {} horas trabajadas según un Coste de {} €/horas es de: {:.2f}€".format(Horas, Coste, Paga))

Su Paga por 6.0 horas trabajadas según un Coste de 6.0 €/horas es de: 36.00€

Pregunta_4: Escribe  un programa que pida al usuario dos números enteros y muestre por pantalla la <n> entre <m> da un cociente <c> y un resto <r> donde <n> y <m> son números introducidos por el usuario, y <c> y <r> son el cociente y el resto de la división entera respectivamente.

In [5]:
n=int(input("Introduzca el número <n>: "))
m=int(input("Introduzca el número <m>: "));print("")
c=n//m
r=n%m
print("{}/{} da un cociente de {} y un resto de {}".format(n, m, c, r))

13/2 da un cociente de 6 y un resto de 1

Pregunta_5: Escribir un programa que pregunte al usuario una cantidad a invertir, el interés porcentual anual y el número de años, y muestre por pantalla el capital obtenido en la inversión redondeado con dos decimales.

In [7]:
inversion=float(input("Cantidad a invertir: "))
interes=float(input("Interés porcentual (%) anual: "))
anno=int(input("Número de años: "));print("")

capital_final = inversion * (1 + interes/100) ** anno

print("El capital obtenido con una inversion de {:.2f} €,  una tasa de {:.0f}%,  para {} años es de {:.2F} €".format(inversion, interes, anno, capital_final))

El capital obtenido con una inversion de 3000.00 €,  una tasa de 3%,  para 3 años es de 3278.18 €

Pregunta_6: Una juguetería tiene mucho éxito en dos de sus productos: payasos y muñecas. Suele hacer ventas por correo y la empresa de logística les cobra por peso de cada paquete así que deben calcular el peso de los payasos y muñecas que saldrán en cada paquete a demanda. cada payaso pesa 112 g y cada muñeca 75 g . Escribir un programa que lea el número de payasos y muñecas vendidos en el último pedido y calcule el peso total del paquete que será enviado.

In [8]:
tpayasos=float(input("Cantidad de payasos: "))
tmuneca=float(input("Cantidad de muñecas: "));print("")
peso_total_kilogramos=(tpayasos*112+tmuneca*75)/1000
print("El peso total del paquete que será enviado en el último pedido es de {:.2f}kg".format(peso_total_kilogramos))

El peso total del paquete que será enviado en el último pedido es de 6.36kg

Pregunta_7: Una panaderia vende barras de pan a 3.49€ cada una. El pan que no es el día tiene un descuento del 60%. Escribir un programa que comience leyendo el número de barras vendidas que no son del día. Después el programa debe mostrar el precio habitual de una barra de pan, el descuento que se le hace por no ser fresca y el coste final total.

In [9]:
barras=int(input("Cabtidad de barras de pan (que no son del día) vendidas: "));print("")
print("Precio de  la barra de pan: 3.49€")
print("Descuento: 60%")
print("Cantidad de barras vendidas (que no son del día): {}".format(barras));print("")
print("Costo final: {:.2f}€".format(barras*3.49*0.40))

Precio de  la barra de pan: 3.49€
Descuento: 60%
Cantidad de barras vendidas (que no son del día): 15

Costo final: 20.94€

Pregunta_8: Suponga un valor adecuado para la temperatura de una cantiadad en grados Fahrenheit. Escriba un programa para convertir esta temperatura en grados centígrados e imprima ambas temperaturas.

In [10]:
tf=float(input("Temperatura en Grados Fahrenheit: "));print("")

tc=(tf-32)*5/9

print("{:.2f}°F es igual a {:.2f}°C".format(tf, tc))

76.00°F es igual a 24.44°C

Pregunta_9: Suponga un valor adecuado para la temperatura de una ciudad en grados centígrados. Escriba un programa para convertir esta temperatura en la escala kelvin e imprima ambas temperaturas.

In [11]:
tc=float(input("Temperatura en Grados Centígrados: "));print("")

tk=tc+273.15

print("{:.2f}°C es igual a {:.2f}K".format(tc, tk))

24.00°C es igual a 297.15K

Pregunta_10: Imprima la parte imaginaria del complejo z = 2 + 3j

In [12]:
z=2+3j
print("La parte imaginaria de la expresión z = 2 + 3j es {:.0f}".format(z.imag))

La parte imaginaria de la expresión z = 2 + 3j es 3

Pregunta_11: Imprima la parte imaginaria del complejo z = 4 + 2j

In [13]:
z=4+2j
print("La parte real de la expresión z = 4 + 2j es {:.0f}".format(z.real))

La parte real de la expresión z = 4 + 2j es 4

Pregunta_12: Obtenga el conjugado de z = 4 + 2j

In [14]:
z=4+2j
print("El conjugado de la expresión z = 4 + 2j es",z.conjugate())

El conjugado de la expresión z = 4 + 2j es (4-2j)

Pregunta_13: Imprima el equivalente en nuestra base decimal del binario '1100001110'

In [15]:
print("El equivalente en nuestra base decimal del binario '1100001110' es: {}".format(0b1100001110))

El equivalente en nuestra base decimal del binario '1100001110' es: 782

Pregunta_14: Convierta el valor flotante 4.33 a un string (cadena)

In [16]:
print("El valor flotante de 4.33 covertido a cadena (string) es de: '{}'".format(str(4.33)))

El valor flotante de 4.33 covertido a cadena (string) es de: '4.33'

Pregunta_15: Obtenga el cociente entero  y el resto de la división  entre 29 y 5

In [17]:
print("De la división de 29/5 el cociente es {} y el resto es {}".format(29//5, 29%5))

De la división de 29/5 el cociente es 5 y el resto es 4

Pregunta_16: Octenga el equivalente hexadecimal de 34567

In [18]:
print("El equivalente hexadecimal de 34567 es {}".format(hex(34567)))

El equivalente hexadecimal de 34567 es 0x8707

Pregunta_17: Aproxime hasta dos decimales el número 45.67859245

In [19]:
print("El número 45.67859245 redondeado a dos decimales es igual a: {}".format(round(45.67859245,2)))

El número 45.67859245 redondeado a dos decimales es igual a: 45.68

Pregunta_18: Obtenga 4 a partir de 3.556

In [20]:
print("Con la función round(3.556) obtengo {}".format(round(3.556)))

Con la función round(3.556) obtengo 4

Pregunta_19: Obtenga 17 a partir de 16.7844

In [21]:
print("Con la función round(16.7844) obtengo {}".format(round(16.7844)))

Con la función round(16.7844) obtengo 17

Pregunta_20: Calcule el resto de la división con 3.45 y 1.22

In [22]:
print("El resto de la división de 3.45 y 1.22 es {:.2f}".format(3.45%1.22))

El resto de la división de 3.45 y 1.22 es 1.01

Pregunta_21: Calcule 3.45^1.22

In [23]:
print("El resultado de 3.45^1.22 es {:.3f}".format(3.45**1.22))

El resultado de 3.45^1.22 es 4.530

Pregunta_22: ¿Cuál de los siguientes es un nombre de variable no válido y por qué?
BASICSALARY
_basic
_basic-hra
#MEAN         -> No es variable porque tiene el caracter #
group.        -> No puede contener punto
422           -> No es variable porque comienza con número
pop in 2020   -> No es variable porque las palabras están separadas
over
timemindovermatter
plot # 3      -> No es variable porque estan separadas las palabras y tiene el caracter # 
SINGLE
hELLO   
queue
team'svictory  -> Empieza con apóstrofe
2015:DDay      -> Comienza con número

Pregunta_23: Calcule en Jupiter las siguentes operaciones:
2**6//8%2
9**2//5-3
10+6-2%3+7-2
5%10+10-23*4//3
5+5//5-5*5**5%5
7%7+7//7-7*7

In [24]:
print("El resultado de 2**6//8%2 es {:.3f}".format(2**6//8%2))
print("El resultado de 9**2//5-3 es {:.3f}".format(9**2//5-3))
print("El resultado de 10+6-2%3+7-2 es {:.3f}".format(10+6-2%3+7-2))
print("El resultado de 5%10+10-23*4//3es {:.3f}".format(5%10+10-23*4//3))
print("El resultado de 5+5//5-5*5**5%5 es {:.3f}".format(5+5//5-5*5**5%5))
print("El resultado de 7%7+7//7-7*7 es {:.3f}".format(7%7+7//7-7*7))

El resultado de 2**6//8%2 es 0.000
El resultado de 9**2//5-3 es 13.000
El resultado de 10+6-2%3+7-2 es 19.000
El resultado de 5%10+10-23*4//3es -15.000
El resultado de 5+5//5-5*5**5%5 es 6.000
El resultado de 7%7+7//7-7*7 es -48.000

Pregunta_24: Evalue las siguientes expresiones:
min(2,6,8,5)
bin(46)
round(10.544336,2)

In [25]:
print("min(2,6,8,5) =  {}".format(min(2,6,8,5)))
print("bin(46) =  {}".format(bin(46)))
print("round(10.544336,2) =  {}".format(round(10.544336,2)))

min(2,6,8,5) =  2
bin(46) =  0b101110
round(10.544336,2) =  10.54

Pregunta_25: Escriba un programa que intercambie  los valores enteros de las variables a y b. No está pemitido utilizar una tercera variable. No se le permite realizar operaciones aritmeticas en a y b.

In [26]:
a = 4
b = 5
print("Valor inicial de a = ",a)
print("Valor inicial de b = ",b);print("")
print("Intercambiamos el valor de 'a' por el de 'b' y el de 'b' por el de 'a...");print("")
b,a = a,b
print("Después del cambio a = ",a)
print("Despuès del cambio b = ",b)

Valor inicial de a =  4
Valor inicial de b =  5

Intercambiamos el valor de 'a' por el de 'b' y el de 'b' por el de 'a...

Después del cambio a =  5
Despuès del cambio b =  4