1. Crea una tupla con números enteros con algunos de ellos repetidos, pide uno por teclado e indica cuantas veces se repite si estuviese en la tupla.

In [2]:
n = (8, 3, 9, 7, 13, 9, 5, 13, 11, 13, 8, 5)
findN = int(input("Teclee un número: "))
contar = n.count(findN)
print(f"El número {findN} se repite {contar} veces en la tupla.")

El número 13 se repite 3 veces en la tupla.

2. Crea una tupla con números e indica el número con mayor valor  y el que menor tenga.

In [4]:
n = (450, 1000, 700, 350, 900, 2000, 555, 8000, 6000)


mayor = max(n)
menor = min(n)


print(f"El número con mayor valor en la tupla es: {mayor}")
print(f"El número con menor valor en la tupla es: {menor}")

El número con mayor valor en la tupla es: 8000
El número con menor valor en la tupla es: 350

3. Crea una tupla con valores ya predefinidos del '1' al '10', pide um índice por teclado y muestra los valores de la tupla.

In [5]:
v = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
ind = int(input("Introduce un índice (0-9): "))

if 0 <= ind < len(v):
    print(f"El valor en el índice {ind} es: {v[ind]}")
else:
    print("Índice no válido...")

El valor en el índice 5 es: 6

4. Escribir un codigo donde se le pide al usuario almacenar en una tupla el 'dia,'mes','año' (todos en formato entero) y luego que imprima diche fecha en el formato: "03/07/2023"

In [7]:
dia = int(input("Teclee el día: "))
mes = int(input("Teclee el mes: "))
año = int(input("Teclee el año: "))

fecha = (dia, mes, año)

print(f"Fecha: {fecha[0]:02d}/{fecha[1]:02d}/{fecha[2]}")

Fecha: 12/05/1962

5. Definir una tupla con tres valores enteros. Convertir el contenido de la tupla a tipo lista. Modificar la lista y luego convertir la lista en tupla.

In [10]:
_tupla = (100, 250, 500)

_lista = list(_tupla)

_lista[1] = 2500

tuplaModif = tuple(_lista)

print(f"Tupla original: {_tupla}")
print(f"Lista modificada: {_lista}")
print(f"Tupla modificada: {tuplaModif}")

Tupla original: (100, 250, 500)
Lista modificada: [100, 2500, 500]
Tupla modificada: (100, 2500, 500)

6. Crear una tupla y luego imprimirla en orden inverso en otra variable (otra tupla)

In [11]:
_tupla = (15, 46, 30, 45, 51)

inverTupla = tuple(reversed(_tupla))

print(f"Tupla original: {_tupla}")
print(f"Tupla en orden inverso: {inverTupla}")

Tupla original: (15, 46, 30, 45, 51)
Tupla en orden inverso: (51, 45, 30, 46, 15)

7. Dada la tupla:
tuple1= ("Orange",[10, 20, 30],[5, 15, 25])
Acceder al valor '20' e imprimir en una nueva variable.

In [14]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))

el_20 = tuple1[1][1]
print(f"En la Tupla: {tuple1}")
print(f"El valor '20' es: {el_20} y está en el índice (1, 1) de la Tupla" )

En la Tupla: ('Orange', [10, 20, 30], (5, 15, 25))
El valor '20' es: 20 y está en el índice (1, 1) de la Tupla

8. Escriba un programa para descomprimir la siguiente tupla en cuatro  variables e imprimir cada variable.

In [16]:
Tuple1=(10,20,30,40)
v1, v2, v3, v4 = Tuple1

print(f"var1: {v1}")
print(f"var2: {v2}")
print(f"var3: {v3}")
print(f"var4: {v4}")

var1: 10
var2: 20
var3: 30
var4: 40

9. Intercambia dos tuplas en Python dados:
tuple1= (1,22)
tuple2= (99,88)

In [21]:
tuple1= (11,22)
tuple2= (99,88)
print(f"tuple1 original: {tuple1}")
print(f"tuple2 original: {tuple2}")
tuple1,tuple2 = tuple2,tuple1
print()
print("DESPUES DEL INTERCAMBIO")
print()
print(f"tuple1: {tuple1}")
print(f"tuple2: {tuple2}")

tuple1 original: (11, 22)
tuple2 original: (99, 88)

DESPUES DEL INTERCAMBIO

tuple1: (99, 88)
tuple2: (11, 22)

10. ¿Cuatas veces aparece  '777'  en  la siguinete tupla? Escribir código.
tt= (55, 6, 777, 54, 6, 76, 7777, 1, 777, 2, 6)

In [23]:
tt= (55, 6, 777, 54, 6, 76, 7777, 1, 777, 2, 6)

c = 0

for i in tt:
    if i == 777:
        c += 1
print(f"El número '777' aparece {c} veces")

El número '777' aparece 2 veces

11. ¿Cual es la suma de todos los número en la siguiente tupla? Escribir código
tt= (42, 1092, 11, 88, 65, 2, 6)

In [24]:

tt= (42, 1092, 11, 88, 65, 2, 6)
suma = sum(tt)

print(f"La suma de todos los números en la tupla es: {suma}")

La suma de todos los números en la tupla es: 1306

12. ¿Cuáles son los valores mínimo y máximo de la siguiente tupla? escribir código
tt= (42, 1092, 11, 88, 65, 2, 6)

In [26]:
tt= (42, 1092, 11, 88, 65, 2, 6)

print(f"El valor mínimo en la tupla es: {min(tt)}")
print(f"El valor máximo en la tupla es: {max(tt)}")

El valor mínimo en la tupla es: 2
El valor máximo en la tupla es: 1092

13. Escriba un prorama para aceptar el nombre de cinco frutas por parte del usuario, almacenarlo en una tupla y luego imprimir.

In [28]:
frutas = []
print("Por favor, ingresa nombre de cinco frutas:")
for i in range(5):
    fruta = input(f"Fruta {i+1}: ")
    frutas.append(fruta)
frutaTupla= tuple(frutas)
print(f"Las frutas son: {frutaTupla}")

Por favor, ingresa nombre de cinco frutas:
Las frutas son: ('Mango', 'Guayaba', 'Papaya', 'Naranja', 'Mamey')

14. Considere la siguiente tupla: T1= (12, 3, 45, 'Hokey', 'Anil', ('a','b'))
a. Imprimir el primer elemento de T1
b. Imprimir el último elemento de T1
c. Imprimir T1 en orden inverso
d. Imprimir 'Anil' desde la tupla T1
e. Imprimir 'b' de la tupla T1

In [36]:
T1= (12, 3, 45, 'Hokey', 'Anil', ('a','b'))

# Imprimir la tupla original T1
print(f"Tupla original T1: {T1}")

# Imprimir el primer elemento de T1
print(f"a. Primer elemento de 'T1': {T1[0]}")

#Imprimir el último elemento de T1
print(f"b. Último elemento de 'T1': {T1[len(T1)-1]}")

#Imprimir 'T1' en orden inverso
print(f"c. 'T1' en orden inverso: {tuple(reversed(T1))}")

#Imprimir 'Anil' desde la tupla T1
print(f"d. 'Anil' está en el índice [4] de la tupla 'T1': {T1[4]}")

#Imprimir 'Anil' desde la tupla T1
print(f"e. 'b' está en el índice [5][1] de la tupla 'T1': {T1[5][1]}")

Tupla original T1: (12, 3, 45, 'Hokey', 'Anil', ('a', 'b'))
a. Primer elemento de 'T1': 12
b. Último elemento de 'T1': ('a', 'b')
c. 'T1' en orden inverso: (('a', 'b'), 'Anil', 'Hokey', 45, 3, 12)
d. 'Anil' está en el índice [4] de la tupla 'T1': Anil
e. 'b' está en el índice [5][1] de la tupla 'T1': b

15. Escriba un programa que le pida al usuario una cadena (string), luego convertirlo a una tupla e imprimir

In [37]:
miNombre= input("¿Tu nmbre por favor:? ")
print(f"Tu nombre es: {tuple(miNombre)}")

Tu nombre es: ('R', 'e', 'i', 'n', 'a', 'l', 'd', 'o')